﻿/***************************************
	Theme Name: Sahifa (Shared on www.MafiaShare.net)
	Theme URI: http://www.mafiashare.net
	Description: A Premium Wordpress News Theme
	Author: Mo3aser
	Author URI: http://www.mafiashare.net
	Version: 2.5.0
	
	License: GNU General Public License v2.0
	License URI: http://www.gnu.org/licenses/gpl-2.0.html

	Tags: two-columns, fixed-width, custom-background, threaded-comments, translation-ready, custom-menu
***************************************/
.padder {
width:645px;
float:left;
}
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Main Global Layout Settings */
*{ padding:0; margin:0;	outline:none; list-style:none; border: 0 none;}
body {
	background:#FFF url(images/patterns/body-bg7.png);
	color: #333;
	font-family: 'Play',Arial,Verdana,sans-serif;
	font-size: 13px;
}
pre ,code{
	direction:ltr;
	font: 11px/19px 'andale mono', 'lucida console', monospace;
	padding: 3px;
	display: block;
	overflow-x: visible;
	overflow-y: hidden;
	margin: 0 0 20px 0;
	color: #666;
	border-top: 1px solid #E1E1E1;
	border-left: 1px solid #E1E1E1;
	border-bottom: 1px solid #F0F0F0;
	border-right: 1px solid #F0F0F0;
}
h1, h2, h3,h4, h5, h6 { font-weight:normal;}

.alignright {float: right;}
.alignleft {float: left;}
.aligncenter{clear:both; margin-left:auto;	margin-right:auto;}
a {
  color: #444;
  text-decoration: none;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
a:hover { color: #000;}
.clear {clear: both;}

.post-title a,ul.slider-navigation li ,.pagenavi a,a.more-link ,.main-menu li a ,.subscribe-icons a ,.flickr_badge_image img {
	webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
textarea, input[type=text], input[type=password], input[type=email], select {
	border: 1px solid #ccc;
	background: #fff;
	font-size: inherit;
}
input, select {cursor: pointer;}
input[type=text], input[type=password], input[type=email] {cursor: text;}
textarea {overflow:auto;}
textarea, input {padding: 5px;outline: none;}
select {padding: 2px;}
option {padding: 0 4px;}
input[type=button], button {padding: 4px;cursor: pointer;vertical-align: middle;}
input.text_input,textarea.textarea {border: 1px solid #ccc;-moz-border-radius: 1px;-webkit-border-radius: 1px; border-radius: 1px;}
input.text_input:focus,textarea.textarea:focus {border: 1px solid #999;	}

::-moz-selection { background: #F9A386; color: #fff; text-shadow: none; }
::selection { background: #F9A386; color: #fff; text-shadow: none; }

/* Main Wrapper Style */
.background-cover{-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; position:fixed; background-repeat:no-repeat; top:0; left:0; z-index:0; overflow: hidden; width: 100%; height:100%;} 
.wrapper {position:relative;z-index:1;}
.container{width:1045px;margin:0 auto;}

/* Header */
header {
	/*background:#FFF;*/
	margin: 20px auto 25px;
	position: relative;
	width:1045px;
	/*-moz-box-shadow: inset 0 0 2px #FFF, 0 0 5px #cacaca;*/
	/*-webkit-box-shadow: inset 0 0 2px white, 0 0 5px #CACACA;*/
	/*box-shadow: inset 0 0 2px white, 0 0 5px #CACACA;*/
}
header:after{display: block;visibility: hidden;clear: both;	height: 0;content: ".";}
/* Top Menu Styles */
.top-nav {
	background:#fbfbfb;
	border-top:3px solid #f88c00;
	border-bottom:1px solid #ececec;
	height:30px;
}
	.top-nav .menu-alert{
		float:left;
		color:#666;
		border-bottom:1px solid #ececec;
		padding:8px 0;
		font-style:italic;
	}
	.top-nav ul {float: left;}
		.top-nav ul li {
			position: relative;
			display: inline-block;
			float: left;
			border-right: 1px solid #F2F2F2;
		}
		.top-nav ul li a {
			display: inline-block;
			height: 30px;
			line-height: 30px;
			color: #838383 ;
			padding:0 8px;
			text-shadow:0 1px 1px #FFF;
		}
		.top-nav ul li a:hover {color: #000;}
		.top-nav ul ul {
			background: #fbfbfb;
			display: none;
			padding:0;
			position: absolute;
			top: 30px;
			width: 180px;
			z-index: 99999;
			float: left;
			-webkit-border-bottom-right-radius: 3px;
			-webkit-border-bottom-left-radius: 3px;
			-moz-border-radius-bottomright: 3px;
			-moz-border-radius-bottomleft: 3px;
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
			-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
			-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
		}
			.top-nav ul ul li {background: none !important;border: none !important;z-index: 99999;min-width: 180px;}
				.top-nav ul ul ul {right: auto;left: 100%;top: 0;z-index: 99999;}
			.top-nav ul ul a {
				background: none !important;
				height: auto !important;
				line-height: 1em;
				padding: 10px 10px;
				width: 160px;
				display: block !important;
				margin-right: 0 !important;
				z-index: 99999;
				color: #777!important;
			}
			.top-nav ul ul li.current-menu-item:after{display: none;}	
		.top-nav ul li:hover > a,.top-nav ul :hover > a ,.top-nav ul li.current-menu-item a { color:#000;}
		
	.top-nav ul li.current-menu-item:after{content: " ";display: block;width: 0;height: 0;position: absolute;top: 0;z-index: 2;right:45%;border: 4px solid transparent;border-top-color: #F88C00 ;}
	.top-nav ul ul li:hover > a,	.top-nav ul ul :hover > a {color: #000 !important;	}
	.top-nav ul li:hover > ul {display: block;}

/* Today Date */
.today-date{
	float:left;
	padding:4px 10px;
	background:#ddd;
	font-size:11px;
	color:#333;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	margin:4px 10px 0 5px;
}
/* Search */
.search-block {
	height:30px;
	overflow: hidden;
	float:right;
	margin-left:5px;
}
	.search-block:after{content: " ";display: block;width: 0;height: 0;position: absolute;top: 14px;z-index: 2;right:30px;border: 4px solid transparent;border-right-color: #F88C00 ;}
	.search-block #s {
		background:#FFF;
		float: right;
		font: normal 11px tahoma;
		padding: 9px 12px 8px 12px;
		width: 90px;
		color:#C5C5C5;
		border:0 none;
		border-left:1px solid #ececec;
		-o-transition: width .7s , color .4s;
		-webkit-transition: width .7s , color .4s;
		-moz-transition: width .7s , color .4s;
		transition: width .7s , color .4s;
	}
	.search-block #s:focus {color:#000;width:150px;}
	.search-block .search-button {
		background:#f88c00 url(images/search-button.png) no-repeat center;
		cursor: pointer;
		float: right;
		height:30px;
		width:30px;
		text-indent:-999999px;
		display: block;
		border:0 none;
	}
	.search-block:hover .search-button,.search-block:hover #s {opacity:1;	color:#444;}

/* Social */
.top-nav .social-icons{float:right; margin:5px 5px 0 0;}
	.top-nav .social-icons a , .footer-bottom .social-icons a{	filter: url(css/filters.svg#grayscale);filter: gray;-webkit-filter: grayscale(1);}
	.top-nav .social-icons a:hover ,.footer-bottom .social-icons a:hover{filter: none;-webkit-filter: grayscale(0);}

.header-content{padding:20px 15px;}
	.logo {float: left;}
	.logo img{ max-width:100%;}
	.logo h1, .logo h2{font:bold 32pt arial;}
	.logo strong{ display:none;}
	.logo span{ font-weight: normal; font-size: 14px;}

/* Main Nav  */
#main-nav  {
	margin:0 auto;
	/*background:url(images/main-menu-bg.png) repeat-x bottom;*/
	height:52px;
	/*border-bottom:5px solid #F88C00 ;*/
}
	#main-nav  .menu-alert{
		float:left;
		padding:18px 0 0 10px ;
		font-style:italic;
		color:#FFF;
	}
	#top-menu-mob , #main-menu-mob{ display:none; }
	#main-nav .main-menu{margin-left:10px;}
	#main-nav  ul li {
		font-size:13px;
		position: relative;
		display: inline-block;
		float: left;
		border:1px solid #c9c9c9;
		border-width:0 0 0 1px;
		height:47px;
		margin-top:5px;
	}
		#main-nav  ul li:first-child,
		#main-nav  ul li:first-child a{border:0 none;}
		#main-nav  ul li:last-child a{border-right:0 none;}
		#main-nav  ul li a {
			display: inline-block;
			height: 47px;
			line-height: 47px;
            color: rgb(44, 44, 44);
            font-size: 14px;
            font-weight: bold;
            padding:0 10px;
			/*text-shadow:0 1px 1px #000;*/
			border-left:1px solid #d2d2d2;
		}
		#main-nav  ul li a .sub-indicator{}
		#main-nav  ul li a:hover {}
		#main-nav  ul ul {
			display: none;
			padding:0;
			position: absolute;
			top: 48px;
			width: 180px;
			z-index: 99999;
			float: left;
			background: #2d2d2d !important;
			-webkit-box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.2);
			box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.2);
			-webkit-border-bottom-right-radius: 3px;
			-webkit-border-bottom-left-radius: 3px;
			-moz-border-radius-bottomright: 3px;
			-moz-border-radius-bottomleft: 3px;
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
		}
		#main-nav  ul ul li, #main-nav  ul ul li:first-child {
			background: none !important;
			z-index: 99999;
			min-width: 180px;
			border:0 none;
			border-bottom: 1px solid #222;
			border-top: 1px solid #383838;
			font-size:12px;
			height:auto;
			margin:0;
		}
			#main-nav  ul ul li:first-child ,#main-nav ul li.current-menu-item ul li:first-child,
			#main-nav ul li.current-menu-parent ul li:first-child,#main-nav ul li.current-page-ancestor ul li:first-child { border-top:0 none !important;}
		#main-nav  ul ul ul {right: auto;left: 100%;	top: 0;	z-index: 99999;	}
		#main-nav  ul.sub-menu a ,
		#main-nav  ul ul li.current-menu-item a,
		#main-nav  ul ul li.current-menu-parent a,
		#main-nav  ul ul li.current-page-ancestor a{
			border:0 none;
			background: none !important;
			height: auto !important;
			line-height: 1em;
			padding: 10px 10px;
			width: 160px;
			display: block !important;
			margin-right: 0 !important;
			z-index: 99999;
			color: #ccc !important;
			text-shadow:0 1px 1px #000 !important;
		}
		 #main-nav  ul li.current-menu-item ul a,
		 #main-nav  ul li.current-menu-parent ul a,
		 #main-nav  ul li.current-page-ancestor ul a{ color:#eee !important; text-shadow:0 1px 1px #222 !important;}

		/*#main-nav  ul li:hover > a,	#main-nav  ul :hover > a {	color: #FFF ;}*/
		#main-nav  ul ul li:hover > a,
		#main-nav  ul ul :hover > a {/*color: #FFF !important;*/	padding-left:15px !important;padding-right:5px !important;}
		#main-nav  ul li:hover > ul {display: block;}
		#main-nav  ul li.current-menu-item,
		#main-nav  ul li.current-menu-parent,
		#main-nav  ul li.current-page-ancestor{
			margin-top:0;
			height:52px;
			border-left:0 none !important;
		}
		#main-nav  ul li.current-menu-item ul,
		#main-nav  ul li.current-menu-parent ul,
		#main-nav  ul li.current-page-ancestor ul{ background:#F88C00 !important;}
		
		#main-nav  ul li.current-menu-item ul li, #main-nav  ul li.current-menu-item ul li:first-child ,
		#main-nav  ul li.current-menu-parent ul li, #main-nav  ul li.current-menu-parent ul li:first-child,
		#main-nav  ul li.current-page-ancestor ul li, #main-nav  ul li.current-page-ancestor ul li:first-child {
			border-bottom: 1px solid #D57800;
			border-top: 1px solid #FFA93A ;
		}
		#main-nav  ul li.current-menu-item a, #main-nav ul li.current-menu-item a:hover,
		#main-nav  ul li.current-menu-parent a, #main-nav ul li.current-menu-parent a:hover,
		#main-nav  ul li.current-page-ancestor a, #main-nav ul li.current-page-ancestor a:hover{
			/*background:#F88C00;*/
			text-shadow:0 1px 1px #000;
			/*color:#FFF;*/
			height:52px;
			line-height:52px;
			border-left:0 none !important;
		}
		#main-nav  ul.sub-menu li.current-menu-item,#main-nav  ul.sub-menu li.current-menu-item a,
		#main-nav li.current-menu-item ul.sub-menu a,#main-nav  ul.sub-menu li.current-menu-parent,
		#main-nav  ul.sub-menu li.current-menu-parent a,#main-nav li.current-menu-parent ul.sub-menu a,
		#main-nav  ul.sub-menu li.current-page-ancestor,#main-nav  ul.sub-menu li.current-page-ancestor a,
		#main-nav li.current-page-ancestor ul.sub-menu a{height:auto !important; line-height: 12px;}
		#main-nav  ul li.menu-item-home a{
			background-image:url(images/home.png) !important;
			background-repeat:no-repeat !important;
			background-position:center -47px;
			text-indent:-9999px;
			height: 52px;
			width: 35px;
		}
		#main-nav  ul li.menu-item-home.current-menu-item a{background-position:center 8px;}
		#main-nav  ul li.menu-item-home ul li a,
		#main-nav  ul ul li.menu-item-home  a,
		#main-nav  ul li.menu-item-home ul li a:hover{
			background-color:transparent !important;
			text-indent:0;
			background-image:none !important;
			height:auto !important;
			width:auto;
		}
	.fixed-nav{
		position:fixed;
		top:-5px;
		width:1045px;
		z-index:999;
		opacity:0.9;
		-webkit-box-shadow: 0 5px 3px rgba(0, 0, 0, .1);
		-moz-box-shadow: 0 5px 3px rgba(0, 0, 0, .1);
		box-shadow: 0 5px 3px rgba(0, 0, 0, .1);
	}
	body.admin-bar .fixed-nav{top:23px;}

/* Random Article Button */		
a.random-article{
	background: #494949 url(images/random.png) no-repeat center;
	width:42px;
	height:47px;
	display:block;
	float:right;
	text-indent:-99999px;
	margin:5px 0 0 10px;
}
	a.random-article:hover{ background-color:#777;}

/* Breaking News */
.breaking-news{
	background: #FFF;
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	box-shadow: 0 1px 3px 0 #B5B5B5;
	-moz-box-shadow: 0 1px 3px 0 #b5b5b5;
	-webkit-box-shadow: 0 1px 3px 0 #B5B5B5;
	width:1045px;
	height:32px;
	margin:-5px auto 25px;
	overflow:hidden;
	position:relative;
}
	.breaking-news span{
		border:1px solid #FBFBFB;
		background:#FF0000;
		display:block;
		float:left;
		padding:5px 10px 2px;
		color:#FFF;
		font-family: Cuprum,arial,Georgia, serif;
		font-size:14pt;
	}
	.breaking-news ul{float:left;}
	.breaking-news ul li{display:block}
	.breaking-news ul a{padding:8px;display:block;white-space:nowrap;}

/* Content  Column */
#main-content{
	background: #FFF;
	margin: 20px auto 25px;
	position: relative;
	-moz-box-shadow: inset 0 0 2px #FFF, 0 0 5px #cacaca;
	-webkit-box-shadow: inset 0 0 2px white, 0 0 5px #CACACA;
	box-shadow: inset 0 0 2px white, 0 0 5px #CACACA;
	padding:20px 24px;
	width:997px;
}
.full-width{background-image: none;	}
.content {float: left;width: 660px;}
#crumbs { margin-bottom:10px; clear:both; padding-bottom: 5px; border-bottom: 1px solid #DDD;}
div.not-found{padding:20px;}
.full-width .content ,body.error404  .content{	width:auto;	float:none;}

/* Global Categories Box Styles */
.cat-box{margin-bottom:35px;}
	.cat-box-title{padding:3px 0;overflow:hidden;}
		.cat-box-title h2{
			float:left;
			margin-right:10px;
			font-size: 22px;
			font-family: Play,arial,Georgia, serif;
		}
		.stripe-line{background:url(images/stripe.png) ;height:12px;overflow:hidden;margin-top:5px;}
	.cat-box-content, #sidebar .widget-container, .post-listing  {
		background: white;
		border-radius: 1px;
		-moz-border-radius: 1px;
		-webkit-border-radius: 1px;
		box-shadow:  0 1px 3px 0 #b5b5b5;
		-moz-box-shadow: 0 1px 3px 0 #b5b5b5;
		-webkit-box-shadow:  0 1px 3px 0 #b5b5b5;
		border: 1px solid #DDD;
		border-bottom:4px solid #F88C00;
	}
		.cat-box li.first-news .inner-content{padding:20px;overflow:hidden;}
	p.post-meta{color:#aaa;margin:7px 0;font-size:85%;}
		p.post-meta a {color: #aaa;}
		p.post-meta a:hover {
			border-bottom: 1px #000 dotted;
			color:#000;
			text-decoration:none;
		}
		.post-meta .stars-small{float:left; margin:-1px 5px 0 0;}

/* Two columns */
.cat-box.column2{float:left;width:320px;margin-right:20px;}
	.column2.last-column {margin-left: 0;margin-right: 0; }
	.column2 li{
		background:#f7f7f7;
		overflow:hidden;
		padding: 5px 20px;
		border-top:1px solid #FFF;
		border-bottom:1px solid #eaeaea;
		-webkit-transition: all .40s;
		-moz-transition: all .40s;
		-o-transition: all .40s;
		transition: all .40s;
	}
	.column2 li:hover{background:#f2f2f2;}
		.column2 li h3 {line-height:1.5em;	font-size:13px;}
		li.first-news p {padding:0;}
		.column2 li.first-news{border-bottom:3px solid #eaeaea;background:#FFF;padding:0;	}

/* wide-box */
.wide-box li{
	background:#f7f7f7;
	overflow:hidden;
	padding: 10px 20px;
	border-top:1px solid #FFF;
	border-bottom:1px solid #eaeaea;
	-webkit-transition: all .40s;
	-moz-transition: all .40s;
	-o-transition: all .40s;
	transition: all .40s;
	width:289px;
	float:left;
	height:61px;
}
	.wide-box ul{background:#f7f7f7;overflow:hidden;}
		.wide-box li.first-news p.post-meta{margin:10px 0; }
		.wide-box li.first-news{
			border-bottom:3px solid #eaeaea;
			background:#FFF;
			padding:0;
			width:100%;
			float:none;
			height:auto;
		}
/* list-box */
.list-box, .wide-box{clear:both;}
.list-box .cat-box-content {padding:20px;}
	.list-box li{
		overflow:hidden;
		padding: 5px 0;
		width:288px;
		float:right;
		clear:right;
	}
		.list-box li.first-news p.post-meta{margin:10px 0; }
		.list-box li.first-news{
			background:#FFF;
			padding:0;
			width:310px;
			float:left;
			margin-right:15px;
		}

/* News In Pictures */
.pic-box .cat-box-content {padding:20px 20px 8px;}
	.pic-box li.first-pic{
		background:#FFF;
		padding:0;
		width:300px;
		float:left;
		margin-right:14px;
		margin-left:0;
	}
	.pic-box li{
		overflow:hidden;
		padding: 1px 0 3px;
		width:70px;
		float:left;
		margin-left:6px;
	}
		.pic-box .first-pic .post-thumbnail h2{
			position:absolute;
			width: 270px;
			padding:10px;
			background: url(images/overlay.png);
			left: 4px;
			bottom: 7px;
		}
			.pic-box .first-pic .post-thumbnail a{ color:#FFF;}
			
/* Tabbed Categories */
.cat-tabs-wrap{padding:20px;}
	.cat-tabs-header{
		background:#F7F7F7;
		height:35px;
		border-bottom: 3px solid #EAEAEA;
		padding:8px 10px 0;
	}
		.cat-tabs-header li{
			float:left;
			margin-right:10px;
			line-height:30px;
			-webkit-border-top-left-radius: 2px;
			-webkit-border-top-right-radius: 2px;
			-moz-border-radius-topleft: 2px;
			-moz-border-radius-topright: 2px;
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
			padding:4px 15px;
			font-family:Arial, Helvetica, sans-serif;
			font-size:12pt;
		}
		.cat-tabs-header li.active{
			background:#FFF;
			box-shadow: 0 -1px 2px #d4d4d4;
			-moz-box-shadow:0 -1px 2px #d4d4d4;
			-webkit-box-shadow:0 -1px 2px #d4d4d4;
		}
	.cat-tabs-wrap li{
		overflow:hidden;
		padding: 5px 0;
		width:288px;
		float:right;
		clear:right;
	}
	.cat-tabs-wrap li.first-news{
		background:#FFF;
		padding:0;
		width:310px;
		float:left;
		margin-right:20px;
	}
		.cat-tabs-wrap li.first-news p.post-meta{margin:10px 0;}
		
/* Scrolling Box */
.scroll-box{clear:both;}
	.scroll-box .cat-box-content{padding:20px;position:relative;}
		.scroll-box .scroll-item{
			float:left;
			width:140px;
			margin-right:10px;
			padding:3px;
			height:210px;
		}
			.scroll-box .scroll-item .post-meta .stars-small{float:none;margin-top:3px;}
			
	.group_items {width:614px;}
	.group_items .scroll-item:last-child{margin-right:0;}
	.scroll-nav{
		background:#F7F7F7;
		margin:10px -20px -20px;
		padding:5px;
		text-align:center;
	}
		.scroll-nav a{
			background:url(images/scrolling-nav.png) no-repeat top;
			width:10px;
			height:10px;
			text-indent:-9999px;
			overflow:hidden;
			display:inline-block;
			margin:2px 1px 0;
			-webkit-transition: all .40s;
			-moz-transition: all .40s;
			-o-transition: all .40s;
			transition: all .40s;
		}
		.scroll-nav a:hover{opacity:0.8;}
		.scroll-nav a.activeSlide{background:url(images/scrolling-nav-active.png) no-repeat top;}

/* Recent Posts Box */
.recent-box{clear:both;}
	.recent-box .cat-box-content{padding:20px;position:relative;}
		.recent-box .recent-item{
			float:left;
			width:195px;
			margin:0 10px 10px 0;
			padding:2px;
			height:190px;
		}
		.recent-box .recent-item:nth-child(3n+3){margin-right:0;}
		.recent-box .item-list{ padding:10px 0;}

.divider{background: url(images/stripe.png);height: 10px;overflow: hidden;margin: 10px 0 20px;clear:both;}

/* Post Styles */
.page-head{padding: 3px 0;overflow: hidden;}
	.page-head .stripe-line{ margin-top:7px;}
	.page-title{
		float: left;
		margin-right: 10px;
		font-size: 26px;
		font-family: Cuprum,arial,Georgia, serif;
		color:#000;
	}
	a.rss-cat-icon{
		float:right;
		background:url(images/rss-small-icon.png) no-repeat top;
		width:16px;
		height:16px;
		margin:6px 0 0 8px;
		text-indent:-99999px;
		display:block;
	}
	.archive-meta{padding:15px 0;}

/* Author Page Styles */
.author-bio{clear:both;overflow:hidden;padding:15px 3px;}
	#author-avatar{	float:left;	margin-right:15px;}
		#author-avatar img{
			background: white;
			padding: 2px;
			-moz-border-radius: 1px;
			-webkit-border-radius: 1px;
			box-shadow: 0 0 2px #B5B5B5;
			-moz-box-shadow: 0 0 2px #b5b5b5;
			-webkit-box-shadow: 0 0 2px #B5B5B5;
		}
		
/* Single Post Styles */	
.post { margin-bottom:20px;}
	.post-inner{padding:20px;}
	.single-post-thumb img{width:100%;}
		.post-title {
			font-family: Cuprum,arial,Georgia, serif;
			margin-bottom:10px;
			font-size: 28px;
		}
		.post-inner p.post-meta{
			border-bottom:1px solid #f2f2f2;
			padding-bottom:5px;
			margin-bottom:10px;
		}
			.post-inner p.post-meta span{display:inline-block;margin-right:10px;	}
		.item-list {
			border-bottom:1px solid #f2f2f2;
			padding:20px 20px 25px;
			overflow:hidden;
			clear:both;
		}
			.item-list p.post-meta {margin:10px 0;}
	.page-link{
		margin:15px 0 0;
		padding-top:5px;
		border-top:1px solid #f2f2f2;
	}
	.edit-link{	clear:both;	display:block;	margin-top:10px;}
	.post-tag { margin:-10px 0 20px}
		.post-tag a{
			border-color: #dedede #d8d8d8 #d3d3d3;
			text-shadow: 0 1px 0 #fff;
			-webkit-box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
			-moz-box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
			box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
			background: #ffffff;
			background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
			background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			display: inline-block;
			text-decoration: none;
			font-size: 10px;
			padding: 3px 8px;
			line-height: 20px;
			color: #555;
			text-transform: uppercase;
			border: 1px solid #DEDEDE;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px ;
			cursor: pointer;
		}
		.post-tag a:hover{ background:#FFF;}
	
	.sticky {}
	
/* Post Thumbnail */
.post-thumbnail {margin: 0 15px 10px 0;position: relative; padding:2px;}
	.post-thumbnail img {
		background:#FFF;
		padding: 4px;
		-moz-border-radius: 1px;
		-webkit-border-radius: 1px;
		box-shadow: 0 0 2px #B5B5B5;
		-moz-box-shadow: 0 0 2px #b5b5b5;
		-webkit-box-shadow: 0 0 2px #B5B5B5;
		-webkit-transition: all .40s;
		-moz-transition: all .40s;
		-o-transition: all .40s;
		transition: all .40s;
	}
	.post-thumbnail a:hover  img{
		box-shadow: 0 0 2px #666;
		-moz-box-shadow: 0 0 2px #666;
		-webkit-box-shadow: 0 0 2px #666;
		opacity:0.6;
	}
	.post-thumbnail a:hover .overlay-icon{opacity:0.7;}
	.overlay-icon{
		background:url(images/link-overlay.png) no-repeat center;
		width:100%;
		height:100%;
		display:block;
		position:absolute;
		opacity:0;
		top:2px;
		-webkit-transition: all .4s ease-in-out;
		-moz-transition: all .4s ease-in-out;
		-o-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		transition: all .4s ease-in-out;			
	}

.item-list .post-thumbnail{float:left;margin-bottom:0;}
.cat-box li .post-thumbnail{margin:0 15px 0 0;}
	.cat-box li .post-thumbnail img{ padding:2px;}
	
		.column2 .post-thumbnail{float:left;}
		.column2 li.first-news .post-thumbnail{ margin: 0 0 10px 0; height:129px; float:none;}
			.column2 li.first-news .post-thumbnail img{ width:100%; height:100%;}
			
			.wide-box li .post-thumbnail{float:left;}
			.wide-box li.first-news .post-thumbnail{width:240px; height:160px}
			.wide-box li.first-news .post-thumbnail img{ width:100%; height:100%; }
			
			.list-box li .post-thumbnail{float:left;}
			.list-box li.first-news .post-thumbnail{margin:0 0 15px 0;float:none;width:302px;height:150px;}
			.list-box li.first-news .post-thumbnail img{ width:100%; height:100%;}

		.pic-box .first-pic .post-thumbnail{position:relative;}
		
		.cat-tabs-wrap li .post-thumbnail{float:left;	margin-bottom:0;}
		.cat-tabs-wrap li.first-news .post-thumbnail{margin:0 0 10px 0;float:none;width:302px; height:140px;}
		.cat-tabs-wrap li.first-news .post-thumbnail img{ width:100%; height:100%;}

	.scroll-box  .post-thumbnail img{width:130px;}
			.recent-item .post-thumbnail{ margin:0 0 10px 0;}
			.recent-item .post-thumbnail img{ width:185px; height:85px;}
			.recent-item .post-thumbnail .overlay-icon{ width:193px; height:103px;}

/* Share */
.share-post {
	clear: both;
	margin:10px -20px -20px;
	padding: 10px 0 10px 10px ;
	background:#F7F7F7;
	border-top:1px solid #EAEAEA;
	height:20px;
}
.mini-share-post {
	clear: both;
	margin:10px -20px -20px;
	padding:10px 10px 10px 25px;
	height:20px;
}
	.share-post li , .mini-share-post li{
		float: left;
		width: 106px;
	}
		.share-post span.share-text{
			background:#FF8500 ;
			margin: -10px 10px -10px -10px ;
			display:block;
			float:left;
			color: #FFF;
			padding:9px;
			font-family: Cuprum,arial,Georgia, serif;
			font-size: 14pt;
		}

/* Post Elements */
.entry {line-height:1.5;}
	.content iframe {	max-width: 100%; }
	.entry p {padding-top: 1.0em; padding-bottom: 1.0em;}
	.entry img { max-width:100%;}
	.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6 {
		margin-bottom: 15px;
		line-height: 1em;
		font-family: Helvetica;
		font-weight: normal;
	}
		.entry h1 {font-size:36px;}
		.entry h2 {font-size:30px;}
		.entry h3 {font-size:24px;}
		.entry h4 {font-size:18px;}
		.entry h5 {font-size:14px;}
		.entry h6 {font-size:12px;}
	.entry ol,
	.entry ul {margin: 0 0 25px 10px;}
	.entry ul li {list-style: inside disc;}
	.entry ol li {list-style: inside decimal;}
		.entry li {margin: 0 0 5px ;}
		
	.entry table {
		border: 1px solid #DFDFDF;
		background-color: #F9F9F9;
		width: 100%;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		font-family: Arial,"Bitstream Vera Sans",Helvetica,Verdana,sans-serif;
		color: #333;
		border-collapse: separate;
		border-spacing: 0;
	}
		.entry table td,.entry table th {	border-top: 1px solid white;border-bottom: 1px solid #DFDFDF;color: #555;}
		.entry table th {
			text-shadow: 0 1px 0 #fff;
			font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
			font-weight: normal;
			padding: 7px 7px 8px;
			text-align: left;
			line-height: 1.3em;
			font-size: 14px;
		}
		.entry table td {font-size: 12px;padding: 4px 7px 4px;vertical-align: top;}

.gallery {margin: 0 auto 18px;}
.gallery .gallery-item {float: left;margin-top: 10px;text-align: center;width: 33%; background: url(images/link-overlay.png) no-repeat center center }
.gallery .gallery-item img {
	background:#FFF;
	padding: 4px;
	-moz-border-radius: 1px;-webkit-border-radius: 1px;
	box-shadow: 0 0 2px #B5B5B5;-moz-box-shadow: 0 0 2px #b5b5b5;-webkit-box-shadow: 0 0 2px #B5B5B5;
	-webkit-transition: all .40s;-moz-transition: all .40s;-o-transition: all .40s;	transition: all .40s;
	height:auto;
}
.gallery .gallery-item a:hover  img{
	box-shadow: 0 0 2px #666;
	-moz-box-shadow: 0 0 2px #666;
	-webkit-box-shadow: 0 0 2px #666;
	opacity:0.6;
	margin:-5px 0 5px;
}
.gallery-columns-2 .gallery-item {width: 50%;}
.gallery-columns-4 .gallery-item {width: 25%;}
.gallery img {border: 0 none !important;}
.gallery-columns-2 .attachment-medium {max-width: 92%;	height: auto;}
.gallery-columns-4 .attachment-thumbnail {max-width: 84%;height: auto;}
.gallery .gallery-caption {color: #888;margin: 0 0 12px;}
.gallery br + br {display: none;}
.attachment img {display: block;margin: 0 auto;}

blockquote {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	font-style:italic;
	line-height:22px;
	background:url(images/quote.png) no-repeat left 18px;
	padding:0 0 0 60px;
	margin:0 0 30px 40px;
	min-height:60px;
}

/* Related Posts */
#related_posts , #author-box{clear:both;}
	.block-head{padding: 3px 0 0;overflow: hidden;}
		.block-head h3 {
			float: left;
			margin-right: 10px;
			font-size: 22px;
			font-family: BebasNeueRegular,arial,Georgia, serif;
		}
	#related_posts .post-listing ,#author-box .post-listing {	padding:20px;margin-bottom:20px;}
		#related_posts li {
			background: url(images/sidebar-bullet.png) no-repeat left 8px;
			padding: 0 12px 10px 0;
			line-height: 18px;
			overflow: hidden;
		}
		#related_posts li:hover {margin-right:5px;}
			#related_posts .related-item{
				float:left;
				width:195px;
				height:180px;
				margin:0 10px 10px 0;
				padding:2px;			
			}
			#related_posts .related-item:nth-child(3n+3){margin-right:0;}
			#related_posts .related-item .post-thumbnail{ margin:0 0 10px 0;}
			.related-item .post-thumbnail img {width: 185px;height: 85px;	}
			
/* Post Navigation */
.navigation{margin:10px 0;clear:both;overflow:hidden;}
.nav-previous{float:left;}
.nav-next{float:right;}
.post-navigation{clear:both;margin:0 0 20px;overflow:hidden;}
.post-navigation div{ display: block;width: 245px;position: relative;font-size: 14px;color: #999;}
.post-previous{float: left;padding-left: 40px;}
.post-next{	float: right;text-align: right;padding-right: 40px;}
.post-navigation div span{display: block;	font-size: 80%;	color: #999;}
.post-navigation div a:after{	position: absolute;	color: #ccc;font-size: 56px;margin-top: -11px;height: 22px;line-height: 22px;top: 34%;}
.post-previous a:after{content: '«';	left:0;}
.post-next a:after{content: '»';	right:0;}

/* Sidebar */
#sidebar {float: right;width: 310px;}
.sidebar-left #sidebar{float:left;}
.sidebar-left .content{float:right;}
		
/* Widgets Styles */
.widget {clear: both;margin-bottom: 25px;}
.widget-top{padding: 5px 0 ;}
.widget-top h4{
	float: left;
	margin-right: 10px;
	font-size: 20px;
	font-family: Cuprum,arial,Georgia, serif;
}
	.widget-top h4 a{color: #333;}
		.widget-top h4 a:hover{color: #000;}
	.widget-container {padding:10px;	clear:both;	}
	.widget-container h3{font-size:inherit;}
		.widget-container li {
			background:url(images/sidebar-bullet.png) no-repeat left 8px;
			padding: 0 0 5px 12px;
			line-height: 18px;
			overflow: hidden;
		}
			.widget-container p {padding-bottom: 1.0em;}
			.widget-container a:hover {text-decoration: underline;}
			.widget-container li span.date, .footer-widget-container li span.date{color: #AAA;margin: 5px 0;font-size: 85%;}
			.widget-container li .stars-small{float:left; margin:2px 5px 0 0;}
			.widget-container .post-thumbnail, .footer-widget-container .post-thumbnail{float:left;margin:0 10px 0 0;}
				.widget-container .post-thumbnail img , .footer-widget-container .post-thumbnail img{padding:2px;}
			
.review-widget .review-box{	margin:0;}
	.review-widget .review-box h2.review-box-header{ display:none;}
	.review-widget .review-box p{ padding-top: 1.0em; padding-bottom: 1.0em;}

.text-html-box{margin-bottom:20px;}
.widget_rss .widget-title img {width: 11px;height: 11px;}
.widget.news-pic .post-thumbnail{margin:3px 7px;}
#tabbed-widget .tabs-wrap li:last-child ,
.comments-avatar .widget-container li:last-child{border-bottom:0 none;}	
#tabbed-widget .tabs-wrap li ,.comments-avatar .widget-container li,.posts-list .widget-container li,.categort-posts .widget-container li{
	background:transparent;
	padding:8px 0 4px;
	border-bottom:1px solid #f2f2f2;
}
.facebook-box{text-align:center;}
.facebook-box iframe { width:100% !important}
.google-box{margin-bottom:-15px; text-align:center;}
#wp_tag_cloud div {line-height: 1.6em;}

		
/* Twitter Widget */
#twitter-widget ul{margin:0 -10px ;}
#twitter-widget li{
	background:url(images/tweet-icon.png) no-repeat 10px 15px;
	border-bottom:1px solid #f2f2f2;
	padding:10px 10px 10px 30px;
}
#twitter-widget li:last-child{border-bottom:0 none;}
	#twitter-widget .tweet_list .tweet_avatar img{
		padding:2px ;
		margin-left:5px;
		float: right;
		background:#FFF;
		border:1px solid #d6d6d6;
	}
	#twitter-widget .loading span{
		background:url(images/small-loader.gif) no-repeat top;
		height: 17px;
		display: block;
	}

/* Tabbed Widget */
#tabbed-widget .widget-top{
	background: #F7F7F7;
	height: 35px;
	border-bottom: 3px solid #EAEAEA;
	padding: 8px 0 0 2px ;
	margin:-10px -10px 10px;
}
	#tabbed-widget  ul.tabs li {
		float: left;
		position: relative;
		margin-left: 3px;
		line-height:30px;
		padding:2px;
		background:transparent;
	}
		#tabbed-widget  ul.tabs li a {
			display: inline-block;
			text-align: center;
			color: #666;
			text-shadow: 0 1px 0 #FFF;
			padding:5px 9px 1px;
			line-height:30px;
		}
		#tabbed-widget ul.tabs li a:hover {color: #000;}
		#tabbed-widget ul.tabs li.active a  {
			-webkit-border-top-left-radius: 2px;
			-webkit-border-top-right-radius: 2px;
			-moz-border-radius-topleft: 2px;
			-moz-border-radius-topright: 2px;
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
			background:#FFF;
			box-shadow: 0 -1px 2px #d4d4d4;
			-moz-box-shadow:0 -1px 2px #d4d4d4;
			-webkit-box-shadow:0  -1px 2px #d4d4d4;
		}
	#tabbed-widget  .tabs-wrap.tagcloud a{
		padding:5px 8px;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border: 1px solid #e9e9e9;
		background: #F7F7F7;
		text-shadow: 0 1px 0 white;
		-webkit-transition-duration: .3s;
		-moz-transition-duration: .3s;
		-moz-box-shadow: inset 0 0 2px #fff, 0 0 2px rgba(0,0,0,0.1);
		-webkit-box-shadow: inset 0 0 2px white, 0 0 2px rgba(0, 0, 0, 0.1);
		box-shadow: inset 0 0 2px white, 0 0 2px rgba(0, 0, 0, 0.1);
		display:inline-block;
		margin:3px;
	}
		#tabbed-widget  .tabs-wrap.tagcloud a:hover{background:#ededed;}

/* Calender */
#wp-calendar {width: 100%;}
	#wp-calendar caption {
		color: #222;
		font-weight: bold;
		padding-bottom: 4px;
		text-align: center;
	}
	#wp-calendar tbody {color: #aaa;}
		#wp-calendar tbody td {
			background: #f5f5f5;
			border: 1px solid #fff;
			padding: 3px 0 2px;
			text-align: center;
		}
		#wp-calendar tbody .pad ,	footer #wp-calendar tbody .pad{background: none;border:0 none;}
	#wp-calendar tfoot #next {text-align: right;}
	footer #wp-calendar tbody td { background:#333; border-color:#555;}
	footer #wp-calendar caption { color:#FFF; }

/* Author Widget */
.author-avatar img {
	border: 1px solid #ccc;
	padding: 4px;
	background: #fff;
	float: left;
	margin: 0 10px 5px 0;
}
.author-description {font-size: 95%;	line-height: 17px;}
.author-social {	float: left;margin-top: 10px;}
.author-social a {opacity: 0.7;margin-left: 2px;}
.author-social a:hover {opacity: 1;}

/* Flickr Widget */
.flickr-widget .flickr_badge_image {float:left;margin:8px;}
	.flickr-widget .flickr_badge_image img{
		opacity:1;
		padding:2px;
		width:50px;
		height:50px;
		box-shadow: 0 0 2px #B2B2B2;
		-moz-box-shadow: 0 0 2px #b2b2b2;
		-webkit-box-shadow: 0 0 2px #B2B2B2;
	}
	.flickr-widget .flickr_badge_image a:hover img{opacity:0.6;}

/* Social Icons Widget */
.social-icons{text-align:center;}
	.social-icons a{	margin:2px;	position:relative;}
	.social-icons a:hover{top:-2px;}

/* Search Widget */
.search-widget input{
	background: white;
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	box-shadow: 0 1px 3px 0 #B5B5B5;
	-moz-box-shadow: 0 1px 3px 0 #b5b5b5;
	-webkit-box-shadow: 0 1px 3px 0 #B5B5B5;
	border: 1px solid #DDD;
	padding: 10px;
	clear: both;
	margin-bottom:20px;	
	width:288px;
	color:#999;
}
	.search-widget input:hover,
	.search-widget input:focus{color:#000;}

/* Counter Widget */
#sidebar .widget-counter{
	margin-bottom:20px;
	overflow:hidden;
	background: white;
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	box-shadow: 0 1px 3px 0 #B5B5B5;
	-moz-box-shadow: 0 1px 3px 0 #b5b5b5;
	-webkit-box-shadow: 0 1px 3px 0 #B5B5B5;
	clear: both;
	border: 1px solid #DDD;
	border-bottom:0 none;
}
	.widget-counter.col1 li{width:100%;border:0 none !important;}
	.widget-counter.col2 li, .widget-counter.col4 li{width: 153px;border-width:0 0 1px 0 !important;}
	.widget-counter.col2 li:nth-child(2n+2) , .widget-counter.col4 li:nth-child(2n+2){border-left:1px solid #DDD !important;}
	.widget-counter li{
		line-height:15px;
		float:left;
		width:102px;
		padding:10px 0;
		border-bottom:1px solid #ddd;
		-moz-transition:.4s linear; -webkit-transition:.4s ease-out; transition:.4s linear;
	}
	.widget-counter li:nth-child(3n-1) { border-right:1px solid #DDD; border-left:1px solid #DDD;}
		.widget-counter li a{	display:block;	padding-top:40px;text-align:center;	opacity:0.7;}
		.widget-counter li:hover{	background-color:#F8F8F8;}
		.widget-counter li:hover a{opacity:1;text-decoration: none;}
		.rss-subscribers a{	background:url(images/socialicons/rss_32.png) no-repeat center top;}
		.rss-subscribers span{font-family: BebasNeueRegular,arial,Georgia, serif;font-size: 14pt;display: inline-block;}
		.facebook-fans a  {	background:url(images/socialicons/facebook_32.png) no-repeat center top;}
		.twitter-followers a{	background:url(images/socialicons/twitter_32.png) no-repeat center top;}
		.youtube-subs a{	background:url(images/socialicons/youtube_32.png) no-repeat center top;}
		.vimeo-subs a{	background:url(images/socialicons/vimeo_32.png) no-repeat center top;}
		.dribbble-followers a{	background:url(images/socialicons/dribbble_32.png) no-repeat center top;}
		.widget-counter li span{display:block;font-size:21px;}
		.widget-counter li a small{color:#777;}
			
/* Login Widget */
#login-form{padding:11px 11px 0;}
#login-form #log, #login-form #pwd, .widget-feedburner .feedburner-email{
	border-color: #F1F1F1;
	border-top-color: #DDD;
	border-left-color: #DDD;
	background: #F9F9F9;
	color: #515151;
	font: 12px Tahoma;
	padding: 4px 7px;
	margin-bottom: 10px;
	border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;
	display: block;
	width: 250px;
	height: 24px;
}
	#login-form #log:hover, #login-form #pwd:hover, .widget-feedburner .feedburner-email:hover{ color:#000;}
	#login-form #log:focus, #login-form #pwd:focus, .widget-feedburner .feedburner-email:focus{ background:#FFF; color:#000;}
	#login-form .login-button{ margin-right:20px;}
	#login-form p{padding-bottom:0;}
	ul.login-links{ margin-top:15px;}
	.welcome-text{margin-bottom:10px;}
	.content .entry #login-form p{ padding:0 }

/* FeedBurner Widget */
.widget-feedburner-counter{padding:11px;}
	
/* ADS Widgets */
.widget-container .ads125{margin:0 -7px -8px 13px;padding-left:0;}
.ads125{overflow:hidden;padding-left:22px;margin-bottom:20px;}
.ads125 .ad-cell{width: 125px;height: 125px;	display: block;	margin:3px 15px 12px 0;	float: left;}
.widget-container .ads120-90 ,.widget-container .ads120-60,
.widget-container .ads120-600,.widget-container .ads120-240{margin:0 -7px -8px 18px;padding-left:0;}
.ads120-90,.ads120-60,.ads120-600,.ads120-240{overflow:hidden;padding-left:27px;margin-bottom:20px;}
.ads120-90 .ad-cell,.ads120-60 .ad-cell,.ads120-600 .ad-cell,.ads120-240 .ad-cell{width: 120px;height: 90px;display: block;margin:3px 15px 12px 0;float: left;}
.ads120-60 .ad-cell  {height: 60px;}
.ads120-600 .ad-cell{height: 600px;}
.ads120-240 .ad-cell{height: 240px;}
.ads160-600 ,.ads250-250{margin-bottom:20px;}
.widget-container .ads160-600 ,.widget-container .ads250-250{margin-bottom:0 }
.ads160-600 .ad-cell{width: 160px;height: 600px;display: block;	margin:0 auto ;}
.ads250-250 .ad-cell{width: 250px;height: 250px;	display: block;	margin:0 auto ;}
.ads300-100{padding-left:5px;margin-bottom:20px;}
.widget-container .ads300-100{margin:0 -5px -5px;padding-left:0;}
.ads300-100 .ad-cell{margin-bottom:3px;width:300px;height:100px; margin:10px auto ;}
.ads300-250,.ads300-600{padding-left:5px;margin-bottom:20px;}
.widget-container .ads300-250, .widget-container .ads300-600{margin:0 -6px;padding-left:0;}
.ads300-250 .ad-cell{width:300px;height:250px;	margin:0 auto ;}
.ads-one{padding-left:0 !important;	margin:0 !important;}
.ads-one .ad-cell{float:none !important;	clear:both !important;margin-right:auto !important;	margin-left:auto !important;}

/* Footer */
footer {
	color: #ddd;
	background:#333;
	text-shadow: 0 0 1px #000;
	padding:20px 0;
	border-bottom:1px solid #444;
	border-top: 8px solid #FF8500;
	margin-top:20px;
}
	footer a{color: #ccc;}
	footer a:hover{color: #FFF;}

/* Footer Widgets */	
#footer-widget-area{
	width:1045px;
	margin: 0 auto;
}
	.footer-widgets-box{float:left; margin-right:4%;}
	.footer-1c .footer-widgets-box{	width:	100% }
	.footer-2c .footer-widgets-box{	width:	48%;}
	.footer-3c .footer-widgets-box{	width:	30.66666666666667%;}
	.footer-4c .footer-widgets-box{	width:	22%;}
	
	.narrow-wide-2c #footer-first , .wide-narrow-2c #footer-second {width:32%;}
	.narrow-wide-2c #footer-second, .wide-narrow-2c #footer-first{	width:64%;}
	
	.wide-left-3c #footer-first    ,.wide-right-3c #footer-third  {	width:46%;}
	.wide-left-3c .footer-widgets-box , .wide-right-3c .footer-widgets-box {	width:23%;}
	
	.footer-1c .footer-widgets-box,
	.narrow-wide-2c #footer-second,
	.wide-narrow-2c #footer-second,
	.footer-2c #footer-second,
	.footer-3c #footer-third,
	.footer-4c #footer-fourth,
	.wide-right-3c #footer-third,
	.wide-left-3c #footer-third{margin-right:0;}

	.footer-widget-top{	border-bottom:1px solid #222;padding:10px 0;}
	.footer-widget-top h4{font-size: 22px;font-family: BebasNeueRegular,arial,Georgia, serif;}
	.footer-widget-container{padding: 10px;border-top:1px solid #444;}
		.footer-widget-container p {padding-bottom: 1.0em;}
		.footer-widget-container ul, footer .tabs-wrap ul{ border-bottom:1px solid #444; }
		.footer-widget-container li, footer #tabbed-widget .tabs-wrap li {
			padding: 6px 12px 6px 0;
			line-height: 18px;
			overflow: hidden;
			border-bottom: 1px solid #232323 !important;
			border-top: 1px solid #444;
		}
		.footer-widget-container li:first-child , footer #tabbed-widget .tabs-wrap li:first-child { border-top:0 none; }

		footer #tabbed-widget .widget-top { background:transparent; border-bottom-color:#444; overflow:hidden; }
		footer #tabbed-widget ul.tabs li a {text-shadow: 0 1px 0 #000; }
		footer #tabbed-widget ul.tabs li a:hover { color:#FFF; }
		footer #tabbed-widget ul.tabs li.active a {
			color:#FFF;
			background: #444;
			box-shadow: 0 -1px 2px #111;
			-moz-box-shadow: 0 -1px 2px #111;
			-webkit-box-shadow: 0 -1px 2px #111;
		}
		footer #tabbed-widget .tabs-wrap.tagcloud a {
			background: #444;
			border: 1px solid #222;
			text-shadow: 0 1px 0 #000;
			-moz-box-shadow: inset 0 0 2px #888, 0 0 2px #222;
			-webkit-box-shadow: inset 0 0 2px #888, 0 0 2px #222;
			box-shadow: inset 0 0 2px #888, 0 0 2px #222;
		}
		footer #tabbed-widget .tabs-wrap.tagcloud a:hover{ background:#555;}
		footer .widget-counter li{ border:0 none !important; width: 33.4%; }
		
		footer #twitter-widget .loading span{background:url(images/black-loader.gif) no-repeat top;}
		
footer .search-widget input{
	background: #414141;
	box-shadow: 0 1px 3px 0 #313131;
	-moz-box-shadow: 0 1px 3px 0 #313131;
	-webkit-box-shadow: 0 1px 3px 0 #313131;
	border: 1px solid #202020;
	color:#222;
}
	footer .search-widget input:hover,
	footer .search-widget input:focus{color:#000;}

/* Footer Bottom */
.footer-bottom {
	background:#242424;
	height:30px;
	line-height:30px;
	border-top:1px solid #111;
	color: #ccc;
}
	.footer-bottom .social-icons{
		float:right;
		margin:0 15px ;
		line-height:0;
		padding-top:5px;
	}
	.footer-bottom a{color: #ccc;}
	.footer-bottom a:hover{color: #FFF;}

#topcontrol{
	z-index:2;
	background: #FF8500 url(images/top_arrow.png) no-repeat center;
	width: 30px;
	height: 30px;
	text-indent: -99999px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	position:fixed;
	bottom:10px;
	right:10px;
	cursor:pointer;
}
	#topcontrol:hover{ background-color:#fb9826 ;}

/* Images */
img.size-auto,img.size-full,img.size-large,img.size-medium,.attachment img {max-width: 100%;height: auto;}
img.centered,
img.aligncenter {
	display: block;
	margin: 2px auto;
	border: 1px solid #cbcdcc;
	padding: 4px;
}
img.alignright {
	padding: 4px;
	margin: 2px 3px 3px 8px;
	display: inline;
	border: 1px solid #cbcdcc;
}
img.alignleft {
	padding: 4px;
	margin: 2px 8px 3px 3px;
	display: inline;
	border: 1px solid #cbcdcc;
}
.wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	max-width: 100% !important;
	padding: 4px;
	text-align: center;
}
	.wp-caption img {max-width: 100% !important;}
	.wp-caption p.wp-caption-text {color: #888;margin: 5px;}

/* Navigation */
.pagination {overflow: hidden; margin-bottom:25px;}
	.pagination a,
	.pagination span.extend,
	.pagination span.current {
		float:left;
		text-shadow: 0 1px 0 #FFF;
		margin-right : 3px;
		color: #777;
		padding: 6px 10px 3px;
	}
	.pagination a:hover {color:#000;}
	.pagination span.current {
		color: #FFF;
		background-color: #F88C00;
		text-shadow: 0 1px 0 #000;
		padding:4px 10px 6px;
	}
	.pagination .pages{
		float:right;
		display:block;
		font-size:85%;
		padding: 7px 0 2px;
	}

/* CommentList */	
#comments-title {
	font-size: 22px;
	font-family: BebasNeueRegular,arial,Georgia, serif;
	color: #999;
	margin:25px 0 10px;
}
	#comments-title em{color: #333;}
.commentlist li{
	margin-bottom: 20px;
	clear:both;
	position:relative;
	clear:both;
}
	.comment-avatar {
		overflow:hidden;
		width:45px;
		height:45px;
		margin:0 10px 5px -30px;
		background: white;
		padding: 2px;
		-moz-border-radius: 1px;
		-webkit-border-radius: 1px;
		box-shadow: 0 0 3px #B5B5B5;
		-moz-box-shadow: 0 0 3px #b5b5b5;
		-webkit-box-shadow: 0 0 3px #B5B5B5;
		float:left;
	}
	.author-comment{overflow:hidden;position:relative;}
		.author-comment cite {
			color:#3b3b3b;
			position:relative;
			display:block;
			margin-bottom:2px;
			padding-top:4px;
		}
	.commentmetadata {display: block;font-size:85%;	clear:both;	}
		.commentmetadata a{color:#3b3b3b;}
		.commentmetadata a:hover{color:#000;}	
	.comment-wrap{
		background: white;
		border-radius: 1px;
		-moz-border-radius: 1px;
		-webkit-border-radius: 1px;
		box-shadow: 0 1px 3px 0 #B5B5B5;
		-moz-box-shadow: 0 1px 3px 0 #b5b5b5;
		-webkit-box-shadow: 0 1px 3px 0 #B5B5B5;
		position:relative;
		padding:10px;
		margin-left:20px;
	}
		.comment-content{
			position:relative;
			clear:both;
			display:block;
			margin-top:10px;
			overflow:hidden;
			padding-bottom:5px;
		}
			.comment-content p{line-height:17px;	margin-bottom: 10px;}
		.nocomments {text-align: center;}
		.commentlist li ul li {margin-left:4px;}
		.commentlist  li.pingback{padding:5px 10px;border-bottom:1px solid #ddd;}	
		.children{margin-top:15px; margin-left:50px;}
		.commentlist .reply a{
			position:absolute;
			bottom:0;
			right:0;
			background:#ddd;
			padding:3px 10px;
			text-shadow:0 1px 1px #FFF;
			font-size:11px;
		}
			.commentlist .reply a:hover{background:#333;	color:#FFF;	text-shadow:0 1px 1px #000;	}
		.bypostauthor {}
		
/* Add Comments Form */	
#respond {
	margin: 20px 0 10px;
	overflow: hidden;
	position: relative;
	clear: both;
}
	.commentlist li #respond {margin: 10px 0 20px 70px !important;}
	#respond h3 {
		font-size: 22px;
		font-family: Cuprum,arial,Georgia, serif;
	}
#commentform {
	padding: 0 5px;
	margin-top: 5px;
	overflow: hidden;
}
	#commentform .required {font-weight: bold;}
	#commentform label {color: #888;}
	#commentform p {	margin:10px 0;}
	#commentform textarea,
	#commentform input {
		border-color: #F1F1F1;
		border-top-color: #DDD;
		border-left-color: #DDD;
		background: #F9F9F9;
		color: #515151;
		font: 12px Tahoma;
		padding:4px 7px;
		margin-bottom: 7px;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
	}
	#commentform input {display: block;width: 250px;height:24px;}
	#commentform textarea {width: 95%;}
	#commentform input:hover,#commentform textarea:hover {}
	#commentform input:focus,	#commentform textarea:focus {background: #fff;}
	#commentform .form-allowed-tags ,.comment-form-comment label {display: none;}
	.comment-form-email,.comment-form-url,.comment-form-url,.comment-form-comment {clear: both;}
	.comment-notes{ margin-bottom:10px;	}
	.form-submit #submit , #login-form .login-button , .widget-feedburner .feedburner-subscribe{
		border: 1px solid #D9D9D9;
		background: #FBFBFB;
		background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#FBFBFB),color-stop(100%,#EEE ));
		background: -webkit-linear-gradient(top,#FBFBFB 0,#EEE 100%);
		background: -moz-linear-gradient(top,#FBFBFB 0,#EEE 100%);
		background: -o-linear-gradient(top,#FBFBFB 0,#EEE 100%);
		background: -ms-linear-gradient(top,#FBFBFB 0,#EEE 100%);
		background: linear-gradient(top,#FBFBFB 0,#EEE 100%);
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3),inset 0 1px 0 rgba(255, 255, 255, 0.5);
		color: black;
		text-shadow: 0 1px 0 white;
		height: 30px;
		line-height: 30px;
		width:auto;
		font-size: 13px;
		padding: 0 15px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		-webkit-transition: background .40s;
		-moz-transition: background .40s;
		-o-transition: background .40s;
		transition: background .40s;
		position:relative;
	}
	.form-submit #submit:hover, #login-form .login-button:hover , .widget-feedburner .feedburner-subscribe:hover {
		background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#FFF),color-stop(100%,#f8f8f8));
		background: -webkit-linear-gradient(top,#FFF 0,#f8f8f8 100%);
		background: -moz-linear-gradient(top,#FFF 0,#f8f8f8 100%);
		background: -o-linear-gradient(top,#FFF 0,#f8f8f8 100%);
		background: -ms-linear-gradient(top,#FFF 0,#f8f8f8 100%);
		background: linear-gradient(top,#FFF ,#f8f8f8 100%);
	}
	.form-submit #submit:active, #login-form .login-button:active , , .widget-feedburner .feedburner-subscribe:active {top:2px;}
	input.error, textarea.error{border:1px solid #FF0000 !important;}

/* Ads */	
.ads-top {float: right;line-height:0;}
.ads-bottom {line-height:0;margin:15px auto 20px;text-align:center;}
.ads-post {line-height:0;margin:20px auto ;text-align:center;}
.home-ads{clear:both;margin:20px auto;text-align:center;}

/* Tooltip */	
a.ttip, a.tooldown{display:inline-block;}
.tipsy { font-size: 10px; position: absolute; padding: 5px; z-index: 100000; }
.tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; box-shadow: 0 0 2px #000000; -webkit-box-shadow: 0 0 2px #000000; -moz-box-shadow: 0 0 2px #000000; }
.tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }
.tipsy-arrow-n { border-bottom-color: #000; }
.tipsy-arrow-s { border-top-color: #000; }
.tipsy-arrow-e { border-left-color: #000; }
.tipsy-arrow-w { border-right-color: #000; }
.tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
.tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }

/* Slider */	
.flexslider .slides > li , .full-width .content .flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; position:relative; height:498px;}
.flexslider .slides img {width: 100%; height:100%; display: block;}
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}
.no-js .slides > li:first-child {display: block;}
.flexslider , .full-width .content .flexslider {margin: 0 0 20px;position:relative;zoom: 1;width: 997px;height:498px;background: #000 url('images/black-loader.gif') no-repeat 50% 48%;	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}
.carousel li {margin-right: 5px}

.flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url(images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 55%; cursor: pointer; text-indent: -9999px; opacity: 0;  -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: -30px; }
.flex-direction-nav .flex-prev {left: -30px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .disabled {opacity: .3!important; cursor: default;}

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .active {opacity: 1; cursor: default;}

.flex-control-nav {width: 100%; position: absolute; bottom: -1px; text-align: center; height:13px;}
.flex-control-nav li {margin: 0 ; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {display: block; cursor: pointer; text-indent: -9999px; width:100%; background:#666; height:13px;  -webkit-transition: all .5s ease; -moz-transition: all .5s ease; transition: all .5s ease;}
.flex-control-paging li a:hover { background: #000; }
.flex-control-paging li a.flex-active { background: #F88C00; cursor: default; }
.slider-caption{position: absolute;width: 75%;padding: 10px;background: #000;right: 0;bottom: 13px;color:#FFF;opacity:0.8;}
.slider-caption h2 a, .full-width .content .slider-caption h2 {	color:#FFF;	font-size: 35px;font-family: BebasNeueRegular,arial,Georgia, serif;}

/*small*/
.content .flexslider { width:660px; height:330px;}
.content .flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; position:relative; height:330px;}
.content .flexslider .slides img {width: 100%; display: block;}
.content .slider-caption h2 a{font-size: 22px;}
.content .ei-slider{ height:330px;}
.content .ei-slider-loading{line-height:375px;}
.content .ei-title h3{font-size: 12px;line-height: 14px;width:435px;}
.content .ei-title h2{font-size: 22px;}

.ei-slider{position: relative;width: 100%;max-width: 1005px;height: 498px;margin: 0 auto 35px;-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);}
.ei-slider-loading{	width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index:999;	background: #000 url('images/black-loader.gif') no-repeat 50% 48%;	color: #fff;text-align: center;	line-height: 520px;}
.ei-slider-large{height: 100%;width: 100%;position:relative;overflow: hidden;}
.ei-slider-large li{position: absolute;top: 0;left: 0;overflow: hidden;height: 100%;width: 100%;}
.ei-slider-large li img{width: 100%;}
.ei-title{position: absolute;right: 10%;margin-right: 0;margin-left:2%;bottom: 25%;color:#fff;opacity:0.8;}
.ei-title h2, .ei-title h3{text-align: right;}
.ei-title h2{color: #b5b5b5;font-size: 35px;font-family: BebasNeueRegular,arial,Georgia, serif;background:#000;float:right;padding:5px;margin-bottom:5px;}
.ei-title h3{clear:both;font-size: 14px;line-height: 20px;width:835px;background:#000;padding:5px;}
.ei-slider-thumbs{height: 13px;margin: 0 auto;position: relative;max-width:100%!important;}
.ei-title a{color:#FFF;}
.ei-slider-thumbs li{position: relative;float: left;height: 100%;}
.ei-slider-thumbs li.ei-slider-element{top: 0;left: 0;position: absolute;height: 100%;z-index: 10;text-indent: -9000px;background: #F88C00;}
.ei-slider-thumbs li a{	display: block;text-indent: -9000px;background: #666 ;width: 100%;height: 100%;cursor: pointer;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3), 0 1px 0 1px rgba(255,255,255,0.5);	-moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3), 0 1px 0 1px rgba(255,255,255,0.5);	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3), 0 1px 0 1px rgba(255,255,255,0.5);
	-webkit-transition: background 0.2s ease;-moz-transition: background 0.2s ease; -o-transition: background 0.2s ease; -ms-transition: background 0.2s ease;   transition: background 0.2s ease;}
.ei-slider-thumbs li a:hover{background-color: #f0f0f0;}
.ei-slider-thumbs li img{ position: absolute;bottom: 50px;opacity: 0;z-index: 999;width: 100%;max-height:100px;
	-webkit-transition: all 0.4s ease;-moz-transition: all 0.4s ease;-o-transition: all 0.4s ease; -ms-transition: all 0.4s ease;   transition: all 0.4s ease;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.content .ei-slider-thumbs li img{max-height:65px;}
.ei-slider-thumbs li:hover img{opacity: 1;	bottom: 13px;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}


/* Reviews Styles */	
.review-box{margin:20px 0;}
h2.review-box-header{
	border-bottom:4px solid #333;
	font-size: 22px;
	font-family: BebasNeueRegular,arial,Georgia, serif;
	padding:10px 0 6px;
	margin-bottom:10px;
}
.review-item{
	padding:5px 0 8px;
	opacity:0.8;
	-webkit-transition: all ease-in-out 0.2s;
	-moz-transition: all ease-in-out 0.2s;
	-o-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
}
.review-item:hover{opacity:1;}
.review-item h5{font-size:inherit;margin-bottom:5px;color:#555;}
.review-percentage .review-item span{background:#F2F2F2;display:block;height:15px;}
.review-percentage .review-item span span{
	background-color: #F88C00;
	background-image:url(images/stripes.png);
	display:block;
	height:15px;
}
.review-stars .review-item{ background:#F2F2F2; margin-bottom:2px; overflow:hidden; padding:5px;}
.review-stars .review-item h5{float:left; padding-top:5px;}
.review-stars .stars-large{float:right;}
.review-final-score .stars-large{float: none !important;margin: 0 auto 10px;}
.review-summary{background-color:#F2F2F2;overflow:hidden;margin-top:10px;}
.review-short-summary{padding:0 10px;display: table-cell;vertical-align: top;}
.review-final-score{
	background-color: #F88C00;
	width:100px;
	display: table-cell;
	vertical-align: top;
	text-align:center;
	color:#fff;
	padding:10px 5px;
}
.review-final-score h3{margin-bottom:-5px;font-size: 44px;color: #FFF;font-weight: bold;}
.review-final-score h3 span{font-size: 24px;}
.review-final-score h4{
	margin-bottom:0;
	font-size: 20px;
	font-family: BebasNeueRegular,arial,Georgia, serif;
}
.review-top{float:left;width:50%; margin-right:20px;}
span.stars-large{
	width:76px;
	display:block;
	background:url(images/stars-large.png) no-repeat left bottom;
	height:22px;
}
span.stars-large span{
	width:100%;
	display:block;
	background:url(images/stars-large.png) no-repeat left top;
	height:22px;
}
span.stars-small{
	width:52px;
	display:block;
	background:url(images/stars-small.png) no-repeat left bottom;
	height:15px;
}
span.stars-small span{
	width:100%;
	display:block;
	background:url(images/stars-small.png) no-repeat left top;
	height:15px;
}

/* Shortcodes */
.post-tooltip{cursor:pointer;display:inline-block;border-bottom:1px #666 dotted;color:#ed5109;}
.post-tooltip:hover{ border-bottom-color:#ed5109;}
.highlight {background: #FF9;}
.dropcap{display: block;float: left;margin: 0 8px 0 0;font-size: 50px;line-height: 50px;font-family: Georgia, Arial,"helvetica neue",Helvetica,Verdana,sans-serif;}
.entry .starlist li,.entry .checklist li{background-position:left top;background-repeat:no-repeat;padding-left:25px;list-style:none;}
.entry .starlist li  { background-image: url(images/bullet_star.png);}
.entry .checklist li {background-image: url(images/bullet_check.png);}

.box{padding: 20px;	background-color: #F6F6F6;	border: #DADADA 1px solid;	margin-bottom: 20px;	word-wrap: break-word;	-moz-border-radius: 5px;-webkit-border-radius: 5px;	border-radius: 5px;	-moz-box-shadow: 0 0 7px #ccc;-webkit-box-shadow: 0 0 7px #ccc;box-shadow: 0 0 7px #ccc;border: 1px solid #FFF;}
.box div{padding-left:60px; min-height:50px;}
.box.shadow{-moz-box-shadow: 2px 2px 7px rgba(153, 153, 153, 0.6);-webkit-box-shadow: 2px 2px 7px rgba(153, 153, 153, 0.6);	box-shadow: 2px 2px 7px rgba(153, 153, 153, 0.6);border: 1px solid #AAA;}
.box.shadow div{padding:0;}
.box.info{background:#d6f6ff;}
.box.info div{background:url(images/info.png) no-repeat left top;}
.box.success{background:#e2f2cb;}
.box.success div{background:url(images/success.png) no-repeat left top;}
.box.warning{ background:#fffddb;}
.box.warning div{background:url(images/warning.png) no-repeat left top;}
.box.error{ background:#ffe6e2;	}
.box.error div{background:url(images/error.png) no-repeat left top;}
.box.download{background:#e2f2cb;}
.box.download div{background:url(images/download.png) no-repeat left top;}
.box.note{background:#fffddb;}
.box.note div{background:url(images/note.png) no-repeat left top;}

a.button{border: 1px solid #a3a3a3;background: #d4d4d4;height: 25px;line-height:25px;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;color: white;display:inline-block;	margin:0 5px 20px;	padding:0 10px;	position:relative;font-size:12px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3),inset 0 1px 0 rgba(255, 255, 255, 0.5),inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-webkit-transition: background .40s;-moz-transition: background .40s; -o-transition: background .40s;transition: background .40s;
	background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#d4d4d4),color-stop(100%,#c7c7c7));background: -webkit-linear-gradient(top,#d4d4d4 0,#c7c7c7 100%);background: -moz-linear-gradient(top,#d4d4d4 0,#c7c7c7 100%);background: -o-linear-gradient(top,#d4d4d4 0,#c7c7c7 100%);	background: -ms-linear-gradient(top,#d4d4d4 0,#c7c7c7 100%);background: linear-gradient(top,#d4d4d4 0,#c7c7c7 100%);
}
a.button:hover{	background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#d8d6d6),color-stop(100%,#cdcdcd));background: -webkit-linear-gradient(top,#d8d6d6 0,#cdcdcd 100%);background: -moz-linear-gradient(top,#d8d6d6 0,#cdcdcd 100%);background: -o-linear-gradient(top,#d8d6d6 0,#cdcdcd 100%);background: -ms-linear-gradient(top,#d8d6d6 0,#cdcdcd 100%);background: linear-gradient(top,#d8d6d6 0,#cdcdcd 100%);}
a.button:active{ top:1px;} 
a.button.red{border: 1px solid #B63540;background: #ED596A;background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#F77087),color-stop(100%,#E3414D));background: -webkit-linear-gradient(top,#F77087 0,#E3414D 100%);background: -moz-linear-gradient(top,#F77087 0,#E3414D 100%);background: -o-linear-gradient(top,#F77087 0,#E3414D 100%);background: -ms-linear-gradient(top,#F77087 0,#E3414D 100%);background: linear-gradient(top,#F77087 0,#E3414D 100%);}
a.button.red:hover{background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#F8889B),color-stop(100%,#E65762));	background: -webkit-linear-gradient(top,#F8889B 0,#E65762 100%);background: -moz-linear-gradient(top,#F8889B 0,#E65762 100%);background: -o-linear-gradient(top,#F8889B 0,#E65762 100%);background: -ms-linear-gradient(top,#F8889B 0,#E65762 100%);background: linear-gradient(top,#F8889B 0,#E65762 100%);}
a.button.green{border: 1px solid #5E8C22;background: #89C03E;background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#A8D34E),color-stop(100%,#6AAD2D));background: -webkit-linear-gradient(top,#A8D34E 0,#6AAD2D 100%);background: -moz-linear-gradient(top,#A8D34E 0,#6AAD2D 100%);background: -o-linear-gradient(top,#A8D34E 0,#6AAD2D 100%);background: -ms-linear-gradient(top,#A8D34E 0,#6AAD2D 100%);background: linear-gradient(top,#A8D34E 0,#6AAD2D 100%);}
a.button.green:hover{ background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#B2D862),color-stop(100%,#76C132));background: -webkit-linear-gradient(top,#B2D862 0,#76C132 100%);background: -moz-linear-gradient(top,#B2D862 0,#76C132 100%);background: -o-linear-gradient(top,#B2D862 0,#76C132 100%);background: -ms-linear-gradient(top,#B2D862 0,#76C132 100%);background: linear-gradient(top,#B2D862 0,#76C132 100%);}
a.button.blue{ border: 1px solid #1e638b;background: #00a2ff;background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#00a2ff),color-stop(100%,#028edf));background: -webkit-linear-gradient(top,#00a2ff 0,#028edf 100%);background: -moz-linear-gradient(top,#00a2ff 0,#028edf 100%);background: -o-linear-gradient(top,#00a2ff 0,#028edf 100%);background: -ms-linear-gradient(top,#00a2ff 0,#028edf 100%);background: linear-gradient(top,#00a2ff 0,#028edf 100%);}
a.button.blue:hover{ background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#3cb6fc),color-stop(100%,#31a6ea));background: -webkit-linear-gradient(top,#3cb6fc 0,#31a6ea 100%);background: -moz-linear-gradient(top,#3cb6fc 0,#31a6ea 100%);background: -o-linear-gradient(top,#3cb6fc 0,#31a6ea 100%);background: -ms-linear-gradient(top,#3cb6fc 0,#31a6ea 100%);background: linear-gradient(top,#3cb6fc 0,#31a6ea 100%);}
a.button.orange{ border: 1px solid #be8a2b;background: #FFA500 ;background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#FFA500),color-stop(100%,#ed9900));background: -webkit-linear-gradient(top,#FFA500 0,#ed9900 100%);background: -moz-linear-gradient(top,#FFA500 0,#ed9900 100%);background: -o-linear-gradient(top,#FFA500 0,#ed9900 100%);background: -ms-linear-gradient(top,#FFA500 0,#ed9900 100%);background: linear-gradient(top,#FFA500 0,#ed9900 100%);}
a.button.orange:hover{ background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#ffb93a),color-stop(100%,#f3ab26));background: -webkit-linear-gradient(top,#ffb93a 0,#f3ab26 100%);background: -moz-linear-gradient(top,#ffb93a 0,#f3ab26 100%);background: -o-linear-gradient(top,#ffb93a 0,#f3ab26 100%);background: -ms-linear-gradient(top,#ffb93a 0,#f3ab26 100%);background: linear-gradient(top,#ffb93a0,#f3ab26 100%);}
a.button.pink{ border: 1px solid #cc198b;background: #ff00a2;background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#ff00a2),color-stop(100%,#ed0097));background: -webkit-linear-gradient(top,#ff00a2 0,#ed0097 100%);background: -moz-linear-gradient(top,#ff00a2 0,#ed0097 100%);background: -o-linear-gradient(top,#ff00a2 0,#ed0097 100%);background: -ms-linear-gradient(top,#ff00a2 0,#ed0097 100%);	background: linear-gradient(top,#ff00a2 0,#ed0097 100%);}
a.button.pink:hover{ background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#ff6cc9),color-stop(100%,#ea51b2));background: -webkit-linear-gradient(top,#ff6cc9 0,#ea51b2 100%);background: -moz-linear-gradient(top,#ff6cc9 0,#ea51b2 100%);background: -o-linear-gradient(top,#ff6cc9 0,#ea51b2 100%);background: -ms-linear-gradient(top,#ff6cc9 0,#ea51b2 100%);background: linear-gradient(top,#ff6cc9,#ea51b2 100%);	}
a.button.purple{ border: 1px solid #833083;background: #d700d7;background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#d700d7),color-stop(100%,#b000b0));background: -webkit-linear-gradient(top,#d700d7 0,#b000b0 100%);background: -moz-linear-gradient(top,#d700d7 0,#b000b0 100%);background: -o-linear-gradient(top,#d700d7 0,#b000b0 100%);background: -ms-linear-gradient(top,#d700d7 0,#b000b0 100%);	background: linear-gradient(top,#d700d7 0,#b000b0 100%);}
a.button.purple:hover{background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#f969f9),color-stop(100%,#c302c3));background: -webkit-linear-gradient(top,#f969f9 0,#c302c3 100%);background: -moz-linear-gradient(top,#f969f9 0,#c302c3 100%);	background: -o-linear-gradient(top,#f969f9 0,#c302c3 100%);	background: -ms-linear-gradient(top,#f969f9 0,#c302c3 100%);background: linear-gradient(top,#f969f9,#c302c3 100%);}
a.button.black{ border: 1px solid #000;background: #434343;background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#434343),color-stop(100%,#232323));background: -webkit-linear-gradient(top,#434343 0,#232323 100%);background: -moz-linear-gradient(top,#434343 0,#232323 100%);background: -o-linear-gradient(top,#434343 0,#232323 100%);background: -ms-linear-gradient(top,#434343 0,#232323 100%);background: linear-gradient(top,#434343 0,#232323 100%);}
a.button.black:hover{ background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#5a5959),color-stop(100%,#3d3d3d));background: -webkit-linear-gradient(top,#5a5959 0,#3d3d3d 100%);background: -moz-linear-gradient(top,#5a5959 0,#3d3d3d 100%);background: -o-linear-gradient(top,#5a5959 0,#3d3d3d 100%);background: -ms-linear-gradient(top,#5a5959 0,#3d3d3d 100%);background: linear-gradient(top,#5a5959,#3d3d3d 100%);}
a.button.white{ border: 1px solid #d9d9d9;background: #fbfbfb;background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fbfbfb),color-stop(100%,#eee ));background: -webkit-linear-gradient(top,#fbfbfb 0,#eee 100%);background: -moz-linear-gradient(top,#fbfbfb 0,#eee 100%);	background: -o-linear-gradient(top,#fbfbfb 0,#eee 100%);background: -ms-linear-gradient(top,#fbfbfb 0,#eee 100%);background: linear-gradient(top,#fbfbfb 0,#eee 100%);box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3),inset 0 1px 0 rgba(255, 255, 255, 0.5);color:#000;text-shadow: 0 1px 0 #FFF;}
a.button.white:hover{ background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#FFF),color-stop(100%,#f8f8f8));	background: -webkit-linear-gradient(top,#FFF 0,#f8f8f8 100%);background: -moz-linear-gradient(top,#FFF 0,#f8f8f8 100%);background: -o-linear-gradient(top,#FFF 0,#f8f8f8 100%);background: -ms-linear-gradient(top,#FFF 0,#f8f8f8 100%);background: linear-gradient(top,#FFF ,#f8f8f8 100%);}
a.button.medium{ height:35px; line-height:35px; font-size:16px; padding:0 15px;}
a.button.big{ height:55px; line-height:55px; font-size:22px; padding:0 25px;}

.flickr-wrapper {overflow:hidden;margin-bottom:20px;}
.flickr-wrapper .flickr_badge_image {float:left;margin:8px;}
.flickr-wrapper .flickr_badge_image img{opacity:1;background:#FFF;padding:4px;box-shadow: 0 0 3px #B2B2B2;-moz-box-shadow: 0 0 3px #b2b2b2;-webkit-box-shadow: 0 0 3px #B2B2B2;}
.flickr-wrapper .flickr_badge_image a:hover img{ opacity:0.6;}

#twitter-shortcode{margin-bottom:10px;}
#twitter-shortcode li{background:url(images/tweet-icon.png) no-repeat 10px 15px;padding:5px 10px 5px 30px;overflow:hidden;list-style:none;}
#twitter-shortcode li:last-child{border-bottom:0 none;}
#twitter-shortcode .tweet_list .tweet_avatar img{	padding:2px ;margin-left:5px;float: right;background:#FFF;border:1px solid #d6d6d6;}
#twitter-shortcode .loading{text-align:center; padding:10px;}

.toggle {background:#F6F6F6;margin-bottom: 15px;	border: 1px solid #E1E1E1;border-bottom: 1px solid #979797;padding: 5px 10px;border-radius: 10px;-moz-border-radius: 10px;-webkit-border-radius: 10px;position: relative;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);-moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);	}
.toggle h3{padding-bottom:5px;margin-bottom:0;text-shadow: 0 1px 1px #FFF;	cursor:pointer;	background:url(images/toggle-close.png) no-repeat right;}
h3.toggle-head-close{background:url(images/toggle-open.png) no-repeat right;display:none;}
.toggle-content{padding-top:15px;}
.toggle.close .toggle-content ,
.toggle.close  h3.toggle-head-open  {display:none;}
.toggle.close  h3.toggle-head-close {display:block;}

.author-info{background:#F6F6F6;margin-bottom: 15px;border: 1px solid #E1E1E1;border-bottom: 1px solid #979797;padding: 20px;border-radius: 10px;-moz-border-radius: 10px;-webkit-border-radius: 10px;position: relative;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);-moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);	}
.author-info-content{padding-left:100px;}
.author-info-content h3{margin-bottom:15px;}
.author-info img.author-img{	max-width:70px;	float:left;	margin-right:15px;background:#FFF;padding:4px;	box-shadow: 0 0 3px #B2B2B2;-moz-box-shadow: 0 0 3px #b2b2b2;-webkit-box-shadow: 0 0 3px #B2B2B2;}

.one_half,.one_third,.two_third,.three_fourth,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth{position:relative;margin-right:4%;float:left;}
.one_half {width:48%}
.one_third { width:30.66%}
.two_third { width:65.33%}
.one_fourth { width:22%}
.three_fourth{ width:74%}
.one_fifth { width:16.8%}
.two_fifth { width:37.6%}
.three_fifth{ width:58.4%}
.four_fifth	{ width:67.2%}
.one_sixth { width:13.33%}
.five_sixth	{ width:82.67%}
.entry .last{margin-right:0 !important;clear:right;}

.post-tabs,.post-tabs-ver{	margin-bottom:20px;}
.post-tabs ul.tabs-nav{height:33px;margin:0;padding-left:20px;}
.post-tabs ul.tabs-nav li{	border:1px solid #E1E1E1;border-radius: 4px 4px 0 0;font-weight: bold;	line-height: 32px;cursor: pointer;display: block;	float: left;margin: 0 5px 0 0;	padding: 0 16px;background:#ddd;border-bottom: 0 none;-webkit-transition: background .5s ease;-moz-transition: background .5s ease;-o-transition: background .5s ease;transition: background .5s ease;}
.post-tabs ul.tabs-nav li.current{	background:#F6F6F6;	z-index:1;	height:33px;}
.post-tabs .pane{background: #F6F6F6;margin-bottom: 15px;border: 1px solid #E1E1E1;border-bottom: 1px solid #979797;	padding: 20px;border-radius: 10px;-moz-border-radius: 10px;-webkit-border-radius: 10px;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);-moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);}
.post-tabs-ver ul.tabs-nav{float:left;width:170px;margin:0;padding-top:10px;}
.post-tabs-ver ul.tabs-nav li{	border:1px solid #E1E1E1;border-radius: 4px 0 0 4px;font-weight: bold;line-height: 32px;cursor: pointer;display: block;	margin: 0 0 10px 0;padding: 0 16px;	background:#ddd;border-right-width: 0;-webkit-transition: background .5s ease;-moz-transition: background .5s ease;-o-transition: background .5s ease;transition: background .5s ease;}
.post-tabs-ver ul.tabs-nav li.current{background:#F6F6F6;z-index:1;width:138px;}
.post-tabs-ver .pane{margin-left:170px;background: #F6F6F6;margin-bottom: 15px;border: 1px solid #E1E1E1;	border-bottom: 1px solid #979797;padding: 20px;	border-radius: 10px;-moz-border-radius: 10px;-webkit-border-radius: 10px;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);-moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);	min-height:180px;}
	
div.jp-audio{color: #666;position:relative;width:100%;margin-bottom:20px;}
.jp-interface {position: relative;width:100%;height: 35px; background-image: -webkit-linear-gradient(top, rgb(242, 242, 242), rgb(209, 209, 209));background-image: -moz-linear-gradient(top, rgb(242, 242, 242), rgb(209, 209, 209));  background-image: -o-linear-gradient(top, rgb(242, 242, 242), rgb(209, 209, 209));background-image: -ms-linear-gradient(top, rgb(242, 242, 242), rgb(209, 209, 209)); background-image: linear-gradient(top, rgb(242, 242, 242), rgb(209, 209, 209));filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f2f2f2', EndColorStr='#d1d1d1'); border-top: 1px solid white;  -webkit-box-shadow: inset 0 1px 0 #f7f7f7,0 0 1px #222;-moz-box-shadow: inset 0 1px 0 #f7f7f7,0 0 1px #222; box-shadow: inset 0 1px 0 #f7f7f7,0 0 1px #222;}
div.jp-controls-holder {clear: both; width:570px; margin: 0 auto; position: relative; overflow:hidden;}
a.jp-play,a.jp-pause { width:40px; height:35px; float:left; text-indent:-9999px; outline:none;}
a.jp-play {background: url("images/jplayer/sprite.png") 0 0 no-repeat;}
a.jp-pause {background: url("images/jplayer/sprite.png") -40px 0 no-repeat;display: none;}
.separator {background:url("images/jplayer/separator.png") no-repeat; width: 2px;height: 35px; float:left; margin-top: 7px; margin-right: 10px;}
.separator.sep-2{ margin-left:10px;}
.jp-progress {background: #706d6d;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:inset 0 1px 4px rgba(0,0,0,.4),0 1px 0 rgba(255,255,255,.4);-moz-box-shadow:inset 0 1px 4px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.4);box-shadow:inset 0 1px 4px rgba(0,0,0,.4),0 1px 0 rgba(255,255,255,.4);width:439px;height:10px; float:left; margin-top: 13px;}
.jp-seek-bar {  width:0; height:100%; cursor: pointer;}
.jp-seeking-bg {background:#575555;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.jp-play-bar { background: url("images/jplayer/play-bar.png") left repeat-x; float:left; width:0; height:10px;position:relative;z-index: 9999;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.jp-play-bar span { position:absolute;top: -3px; right: -12px;background:url("images/jplayer/handle.png") no-repeat center; width: 16px; height: 17px;}
.jp-audio a.jp-mute,.jp-audio a.jp-unmute {text-indent:-9999px;float:left; height: 35px; outline:none;}
.jp-mute {float:left; background: url(images/jplayer/sprite.png) -80px 0 no-repeat;margin-top: 1px;margin-left: -10px;width: 35px;}
a.jp-unmute {background: url(images/jplayer/sprite.png) -115px 0 no-repeat; margin-top: 1px; margin-left: -13px;display: none;width: 38px;}
.jp-volume-bar {float:left; margin-top: 13px; margin-right: 10px; overflow:hidden;  width:70px;height:10px; cursor: pointer;  background: #706d6d;-webkit-border-radius:5px;-moz-border-radius:5px; border-radius:5px; -webkit-box-shadow:inset 0 1px 4px rgba(0,0,0,.4),0 1px 0 rgba(255,255,255,.4);-moz-box-shadow:inset 0 1px 4px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.4); box-shadow:inset 0 1px 4px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.4);}
.jp-volume-bar-value {background: transparent;width:0;height:10px;position: relative;float:left;}
.jp-volume-bar-value span {position:absolute;top: 0;right: 0;background:url(images/jplayer/volume.png) no-repeat center;width: 11px;height: 10px;}
	
/*Pretty-Photo*/
div.pp_default .pp_top,div.pp_default .pp_top .pp_middle,div.pp_default .pp_top .pp_left,div.pp_default .pp_top .pp_right,div.pp_default .pp_bottom,div.pp_default .pp_bottom .pp_left,div.pp_default .pp_bottom .pp_middle,div.pp_default .pp_bottom .pp_right{height:13px}
div.pp_default .pp_top .pp_left{background:url(images/prettyPhoto/sprite.png) -78px -93px no-repeat}
div.pp_default .pp_top .pp_middle{background:url(images/prettyPhoto/sprite_x.png) top left repeat-x}
div.pp_default .pp_top .pp_right{background:url(images/prettyPhoto/sprite.png) -112px -93px no-repeat}
div.pp_default .pp_content .ppt{color:#f8f8f8}
div.pp_default .pp_content_container .pp_left{background:url(images/prettyPhoto/sprite_y.png) -7px 0 repeat-y;padding-left:13px}
div.pp_default .pp_content_container .pp_right{background:url(images/prettyPhoto/sprite_y.png) top right repeat-y;padding-right:13px}
div.pp_default .pp_next:hover{background:url(images/prettyPhoto/sprite_next.png) center right no-repeat;cursor:pointer}
div.pp_default .pp_previous:hover{background:url(images/prettyPhoto/sprite_prev.png) center left no-repeat;cursor:pointer}
div.pp_default .pp_expand{background:url(images/prettyPhoto/sprite.png) 0 -29px no-repeat;cursor:pointer;width:28px;height:28px}
div.pp_default .pp_expand:hover{background:url(images/prettyPhoto/sprite.png) 0 -56px no-repeat;cursor:pointer}
div.pp_default .pp_contract{background:url(images/prettyPhoto/sprite.png) 0 -84px no-repeat;cursor:pointer;width:28px;height:28px}
div.pp_default .pp_contract:hover{background:url(images/prettyPhoto/sprite.png) 0 -113px no-repeat;cursor:pointer}
div.pp_default .pp_close{width:30px;height:30px;background:url(images/prettyPhoto/sprite.png) 2px 1px no-repeat;cursor:pointer}
div.pp_default .pp_gallery ul li a{background:url(images/prettyPhoto/default_thumb.png) center center #f8f8f8;border:1px solid #aaa}
div.pp_default .pp_social{margin-top:7px}
div.pp_default .pp_gallery a.pp_arrow_previous,div.pp_default .pp_gallery a.pp_arrow_next{position:static;left:auto}
div.pp_default .pp_nav .pp_play,div.pp_default .pp_nav .pp_pause{background:url(images/prettyPhoto/sprite.png) -51px 1px no-repeat;height:30px;width:30px}
div.pp_default .pp_nav .pp_pause{background-position:-51px -29px}
div.pp_default a.pp_arrow_previous,div.pp_default a.pp_arrow_next{background:url(images/prettyPhoto/sprite.png) -31px -3px no-repeat;height:20px;width:20px;margin:4px 0 0}
div.pp_default a.pp_arrow_next{left:52px;background-position:-82px -3px}
div.pp_default .pp_content_container .pp_details{margin-top:5px}
div.pp_default .pp_nav{clear:none;height:30px;width:110px;position:relative}
div.pp_default .pp_nav .currentTextHolder{font-family:Georgia;font-style:italic;color:#999;font-size:11px;left:75px;line-height:25px;position:absolute;top:2px;margin:0;padding:0 0 0 10px}
div.pp_default .pp_close:hover,div.pp_default .pp_nav .pp_play:hover,div.pp_default .pp_nav .pp_pause:hover,div.pp_default .pp_arrow_next:hover,div.pp_default .pp_arrow_previous:hover{opacity:0.7}
div.pp_default .pp_description{font-size:11px;font-weight:700;line-height:14px;margin:5px 50px 5px 0}
div.pp_default .pp_bottom .pp_left{background:url(images/prettyPhoto/sprite.png) -78px -127px no-repeat}
div.pp_default .pp_bottom .pp_middle{background:url(images/prettyPhoto/sprite_x.png) bottom left repeat-x}
div.pp_default .pp_bottom .pp_right{background:url(images/prettyPhoto/sprite.png) -112px -127px no-repeat}
div.pp_default .pp_loaderIcon{background:url(images/prettyPhoto/loader.gif) center center no-repeat}
div.pp_pic_holder a:focus{outline:none}
div.pp_overlay{background:#000;display:none;left:0;position:absolute;top:0;width:100%;z-index:9500}
div.pp_pic_holder{display:none;position:absolute;width:100px;z-index:10000}
.pp_content{height:40px;min-width:40px}
* html .pp_content{width:40px}
.pp_content_container{position:relative;text-align:left;width:100%}
.pp_content_container .pp_left{padding-left:20px}
.pp_content_container .pp_right{padding-right:20px}
.pp_content_container .pp_details{float:left;margin:10px 0 2px}
.pp_description{display:none;margin:0}
.pp_social{float:left;margin:0}
.pp_social .facebook{float:left;margin-left:5px;width:55px;overflow:hidden}
.pp_social .twitter{float:left}
.pp_nav{clear:right;float:left;margin:3px 10px 0 0}
.pp_nav p{float:left;white-space:nowrap;margin:2px 4px}
.pp_nav .pp_play,.pp_nav .pp_pause{float:left;margin-right:4px;text-indent:-10000px}
a.pp_arrow_previous,a.pp_arrow_next{display:block;float:left;height:15px;margin-top:3px;overflow:hidden;text-indent:-10000px;width:14px}
.pp_hoverContainer{position:absolute;top:0;width:100%;z-index:2000}
.pp_gallery{display:none;left:50%;margin-top:-50px;position:absolute;z-index:10000}
.pp_gallery div{float:left;overflow:hidden;position:relative}
.pp_gallery ul{float:left;height:35px;position:relative;white-space:nowrap;margin:0 0 0 5px;padding:0}
.pp_gallery ul a{border:1px rgba(0,0,0,0.5) solid;display:block;float:left;height:33px;overflow:hidden}
.pp_gallery ul a img{border:0}
.pp_gallery li{display:block;float:left;margin:0 5px 0 0;padding:0}
.pp_gallery li.default a{background:url(images/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;display:block;height:33px;width:50px}
.pp_gallery .pp_arrow_previous,.pp_gallery .pp_arrow_next{margin-top:7px!important}
a.pp_next{background:url(images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:right;height:100%;text-indent:-10000px;width:49%}
a.pp_previous{background:url(images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:left;height:100%;text-indent:-10000px;width:49%}
a.pp_expand,a.pp_contract{cursor:pointer;display:none;height:20px;position:absolute;right:30px;text-indent:-10000px;top:10px;width:20px;z-index:20000}
a.pp_close{position:absolute;right:0;top:0;display:block;line-height:22px;text-indent:-10000px}
.pp_loaderIcon{display:block;height:24px;left:50%;position:absolute;top:50%;width:24px;margin:-12px 0 0 -12px}
#pp_full_res{line-height:1!important}
#pp_full_res .pp_inline{text-align:left}
#pp_full_res .pp_inline p{margin:0 0 15px}
div.ppt{color:#fff;display:none;font-size:17px;z-index:9999;margin:0 0 5px 15px}
div.pp_default .pp_content,div.light_rounded .pp_content{background-color:#fff}
div.pp_default #pp_full_res .pp_inline,div.light_rounded .pp_content .ppt,div.light_rounded #pp_full_res .pp_inline,div.light_square .pp_content .ppt,div.light_square #pp_full_res .pp_inline,div.facebook .pp_content .ppt,div.facebook #pp_full_res .pp_inline{color:#000}
div.pp_default .pp_gallery ul li a:hover,div.pp_default .pp_gallery ul li.selected a,.pp_gallery ul a:hover,.pp_gallery li.selected a{border-color:#fff}
div.pp_default .pp_details,div.light_rounded .pp_details,div.dark_rounded .pp_details,div.dark_square .pp_details,div.light_square .pp_details,div.facebook .pp_details{position:relative}
.pp_top,.pp_bottom{height:20px;position:relative}
* html .pp_top,* html .pp_bottom{padding:0 20px}
.pp_top .pp_left,.pp_bottom .pp_left{height:20px;left:0;position:absolute;width:20px}
.pp_top .pp_middle,.pp_bottom .pp_middle{height:20px;left:20px;position:absolute;right:20px}
* html .pp_top .pp_middle,* html .pp_bottom .pp_middle{left:0;position:static}
.pp_top .pp_right,.pp_bottom .pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px}
.pp_fade,.pp_gallery li.default a img{display:none}

/*  TABLET  : 1024px */
@media only screen and ( max-width: 1024px ){
   .container, header, #main-nav, .container , .breaking-news, #footer-widget-area {width:985px !important;}
   	.flexslider , .ei-slider, .ei-slider-large li{width:965px ; }
	.flexslider , .flexslider .slides > li ,.flexslider .slides img , .ei-slider {max-height:482px;}
	.content .flexslider , .content .ei-slider, .content .ei-slider-large li{width:640px ; }
	.content .flexslider , .content .flexslider .slides > li , .content .flexslider .slides img, .content .ei-slider {max-height:320px;}
    #main-content{padding:10px; width:965px !important; }
	.content {width: 640px;}
	.list-box .cat-box-content , .scroll-box .cat-box-content, .pic-box .cat-box-content , .recent-box .cat-box-content, .cat-tabs-wrap,
	.cat-box li.first-news .inner-content , .column2 li , .wide-box li, #related_posts .post-listing, #author-box .post-listing  {padding-right: 10px; padding-left: 10px;}
	.cat-box.column2 {width: 310px; }
	.scroll-nav {margin: 10px -10px -20px;}
  	.flex-direction-nav .flex-next {right:5px; opacity: 0.8; }
	.flex-direction-nav .flex-prev {left:5px; opacity: 0.8;}
	.jp-progress{ width:419px !important; }		
}	

/* TABLET  : 768px */
@media only screen and (max-width: 985px) and (min-width: 768px){
     header, #main-nav , .container , .breaking-news , #footer-widget-area{width:750px !important;}
    #main-content , .content , #sidebar , .flexslider , .ei-slider, .ei-slider-large li{width:730px !important; }
	.flexslider , .flexslider .slides > li {height:330px !important;}
	.flex-direction-nav .flex-next {right:5px; opacity: 0.8; }
	.flex-direction-nav .flex-prev {left:5px; opacity: 0.8;}
	.ei-slider, .ei-slider-large li{height:330px;}
	.ei-slider-large li img{width:100% !important; height:330px !important; margin:0 !important;}
	.ei-title h3{width:635px;}
	.logo img{max-height:70px;margin:0 !important; margin-top:0;}
	#top-menu-mob , #main-menu-mob{display:block;float:left;}
	.main-menu , .top-menu{	display:none; }
	#top-menu-mob{
		background: #FFF;
		width: 500px;
		padding: 5px;
		border: 1px solid #ccc;
		height: 26px;
		color:#000;
		margin:2px 0 0 10px;
	}
	#main-menu-mob{
		background: #222;
		width: 500px;
		padding: 5px;
		border: 1px solid #000;
		color:#DDD;
		height: 27px;
		margin:13px 0 0 10px;
	}
	#sidebar{-webkit-column-count: 2;-webkit-column-gap: 10px;-moz-column-count: 2;-moz-column-gap: 10px;column-count: 2;column-gap: 10px;}
	.search-block #s {width:150px;border: 1px solid #ECECEC;padding: 8px 12px 7px 12px;}
	.widget , .search-widget input{clear:none !important;margin:0 3px 20px;-webkit-column-break-inside: avoid;-moz-column-break-inside: avoid;	column-break-inside: avoid;	}
	.widget-container .post-thumbnail a , .footer-widget-container .post-thumbnail a{ -webkit-transition: none !important; transition:none !important; }
	.widget-container .post-thumbnail  , .footer-widget-container .post-thumbnail {  position: inherit;}
	.widget-container .post-thumbnail img , .footer-widget-container .post-thumbnail img{ -webkit-transition: none !important; transition:none !important; opacity:1 !important;}

	.search-widget input{ width:339px;}
	#sidebar .widget-counter{width:354px;}
	.widget-counter li { width:117px;}
	.widget-counter.col2 li, .widget-counter.col4 li{width: 176px;}
	.recent-box .recent-item { margin-right:55px;}
	.list-box li , .list-box li.first-news, .cat-tabs-wrap li ,.cat-tabs-wrap li.first-news {	width:344px;}
	.list-box li.first-news .post-thumbnail,
	.cat-tabs-wrap li.first-news .post-thumbnail {width:336px; height:155px;}
	.cat-box.column2{width:355px;}
	.cat-box.column2 .first-news .post-thumbnail{ height:140px}
	.group_items{width:710px;}
	.scroll-box .scroll-item { margin-right:39px;}
	.wide-box li { width:335px }
	#topcontrol, .today-date{display:none;}
	.footer-widgets-box { width:48% !important; margin-right:4% !important;}
	#footer-second , #footer-fourth{	margin-right:0 !important;}
	#tabbed-widget ul.tabs li a { padding: 5px 15px 1px; }
	.logo {float: none;text-align: center;}
	.ads-top{clear:both;float:none;text-align:center;border: 0 none;background:none !important;	padding:30px 0 0;}
	.jp-progress{ width:509px !important; }
	#related_posts .related-item{margin:0 23px 10px 15px;}
}

/*  Phone  : 480px */
@media only screen and (max-width: 767px) and (min-width: 480px){
	#topcontrol , .ads-top, .ads-bottom,.home-ads, .ads-post, .today-date,.ei-slider-thumbs li img, .ei-title h3, .slider-caption p{display:none !important;}
     header, .container , #main-nav , .breaking-news , #footer-widget-area{width:445px !important;}
	 #main-content , .content , #sidebar , .flexslider , .ei-slider, .ei-slider-large li{width:425px !important; }
	.flexslider , .flexslider .slides > li ,.flexslider .slides img{max-height:250px !important;}
	.ei-slider, .ei-slider-large li{height:250px !important;}
	.ei-slider-large li img{width:100% !important; height:250px !important; margin-left: 0 !important; margin-top: 0 !important;}
	.ei-title h2, .slider-caption h2 a{ font-size:22px;}
	.single-post-thumb img { max-height:210px; }
	.slider-caption{width:auto;}
	.logo{float:none;text-align:center;}
	.fixed-nav{position: initial;}
	#top-menu-mob , #main-menu-mob{display:block;float:left;}
	.main-menu , .top-menu, .breaking-news, .ei-title h3{	display:none; }
	#top-menu-mob{
		background: #FFF;
		width: 210px;
		padding: 5px;
		border: 1px solid #ccc;
		height: 26px;
		color:#000;
		margin:2px 0 0 10px;
	}
	#main-menu-mob{
		background: #222;
		width: 210px;
		padding: 5px;
		border: 1px solid #000;
		color:#DDD;
		height: 27px;
		margin:13px 0 0 10px;
	}
	.widget.news-pic .post-thumbnail {margin: 3px 4px;}
	.pic-box li.first-pic {	margin-right:0; float:none; width:100%}
	.pic-box .first-pic .post-thumbnail { margin:0 auto; width:294px;}
	.pic-box li { margin-left:10px}
	.widget , .search-widget input{clear:none;margin:0 0 20px;}
	.search-widget input{ width:423px;}
	.recent-box .recent-item , .recent-box .recent-item:nth-child(3n+3) { margin-right:5px;}
	.recent-box .recent-item:nth-child(2n+2) {margin-right: 0;}
	.list-box li.first-news .post-thumbnail,
	.cat-tabs-wrap li.first-news .post-thumbnail {width:336px; height:155px; margin:0 auto 15px;}
	.cat-box.column2{width:425px; float:none; margin-right:0;}
	.cat-box.column2 .first-news .post-thumbnail{ height:200px}
	.group_items{width:402px !important;}
	.scroll-box .scroll-item , .group_items .scroll-item:last-child{ margin:0 27px;}
	.wide-box li { width:420px }
	.cat-tabs-wrap li.first-news ,
	.list-box li.first-news{
		width:100%;
		float:none;
		margin: 0 0 10px 0;
		border-bottom:1px solid #ddd;
		padding-bottom:10px
	}
	.cat-tabs-wrap li ,.list-box li { width:100%; border-bottom:1px solid #F2F2F2;}
	.footer-widgets-box { width:100% !important; margin-right:0% !important;}
	#tabbed-widget ul.tabs li a { padding: 5px 19px 1px; }
	.search-block{position:relative;top:0;right:0;z-index:9999;	width:210px;}
	.search-block #s , .search-block #s:focus{ width:154px}
	a.random-article {position:relative;}
	.top-nav .social-icons {position: relative;top:0;right:0;z-index:9999;}
	.footer-bottom{text-align:center;padding:0 20px;height:auto;overflow:hidden;}
	.footer-bottom div{ float:none !important; clear:both; margin:5px auto;}
	.widget-counter li {width: 140px;}
	.widget-counter.col2 li, .widget-counter.col4 li{width: 211px;}
	.sitemap-col { float:none !important; width:auto !important;}
	#related_posts .post-listing, #author-box .post-listing{padding: 20px 10px 10px 10px;}
	#related_posts .related-item ,#related_posts .related-item:nth-child(3n+3) {margin-right: 5px !important;}
	#related_posts .related-item:nth-child(2n+2) {margin-right: 0 !important;}
	.share-post {height: 48px;}
	.share-post span.share-text {height: 50px; line-height:48px;}
	.share-post li, .mini-share-post li {height: 31px;width: 110px !important;}
	.content iframe {	max-height: 250px; }
	.jp-progress{ width:204px !important; }	
	.review-top {float: none !important; width: auto !important; margin-right: 0 !important;}
	
	.ads120-90 .ad-cell,.ads120-60 .ad-cell,.ads120-600 .ad-cell,.ads120-240 .ad-cell, .ads125 .ad-cell{display: inline-block; float:none;}
	.ads120-90, .ads120-60, .ads120-600, .ads120-240, .ads125{text-align:center;}

}

/* Phone  : 320px */
@media only screen and (max-width: 479px){
	#topcontrol , .ads-top, .home-ads, .ads-bottom, .ads-post, .today-date, .slider-caption p, #cats-tabs-box, .ei-slider-thumbs li img, .slider-caption p,a.random-article, .top-nav .social-icons, .search-block, .ei-title h3, .share-post span.share-text , .jp-mute , .jp-volume-bar, .separator.sep-2{display:none !important;}
     header, .container , #main-nav , .breaking-news , #footer-widget-area{width:297px !important;}
	 #main-content , .content , #sidebar , .flexslider , .ei-slider, .ei-slider-large li{width:277px !important; }
	.flexslider , .flexslider .slides > li ,.flexslider .slides img{max-height:140px !important;}
	.ei-slider, .ei-slider-large li{height:150px !important;}
	.single-post-thumb img { max-height:150px; }
	.fixed-nav{position: initial;}
	#main-nav{overflow:hidden;}
	.slider-caption{width:auto;}
	.logo{float:none;text-align:center;}
	#top-menu-mob , #main-menu-mob{display:block;margin:0 auto; }
	.main-menu , .top-menu, .breaking-news{	display:none; }
	#top-menu-mob{
		background: #FFF;
		width: 277px;
		padding: 5px;
		border: 1px solid #CCC;
		height: 26px;
		color:#000;
		margin:2px auto 0;
		float:none;
	}
	#main-menu-mob{
		background: #222;
		width: 277px;
		padding: 5px;
		border: 1px solid #000;
		height: 27px;
		margin:13px 0 0 10px;
		color:#fff;
	}
	#tabbed-widget .widget-top {overflow:hidden;}
	.share-post{ overflow:hidden; height:auto;}
	#commentform textarea { padding:0;width: 100%;}
	.pic-box li.first-pic {	margin-right:0; float:none; width:100%}
	.pic-box .first-pic .post-thumbnail { margin:0 auto; width:257px;}
	.pic-box .first-pic .post-thumbnail img{ width:100%;}
	.pic-box .first-pic .post-thumbnail h2{ width:236px;}
	.pic-box li { margin-left:14px}
	.widget , .search-widget input{clear:none;	margin:0 0 20px;}
	.search-widget input{ width:275px;}
	.recent-box .cat-box-content {padding: 5px 1px;position: relative;}
	.recent-box .recent-item {width:131px;}
	.recent-box .recent-item, .recent-box .recent-item:nth-child(3n+3) { margin-right:0;}
	.recent-item .post-thumbnail .overlay-icon {width: auto;height: auto;}
	.recent-item .post-thumbnail img {width: 100%;height: 60px;  padding:1px;}
	.list-box li.first-news .post-thumbnail,
	.cat-tabs-wrap li.first-news .post-thumbnail {width:100%; height:155px; margin:0 auto 15px;}
	.cat-box.column2{width:100%; float:none; margin-right:0;}
	.cat-box.column2 .first-news .post-thumbnail{ height:120px}
	.scroll-box .cat-box-content {padding: 2px;}
	.group_items{width:272px !important;}
	.scroll-box .scroll-item { margin:0 -1px; width:131px;}
	.scroll-box .scroll-item img {width: 100%;height: 60px;  padding:1px;}
	.scroll-box .post-thumbnail {margin: 0 0 10px 0;}
	.scroll-nav { margin:0;}
	.wide-box li { width:260px }
	.cat-tabs-wrap li.first-news ,  .list-box li.first-news{width:100%;float:none;margin: 0 0 10px 0;border-bottom:1px solid #ddd;padding-bottom:10px;}
	.cat-tabs-wrap li ,.list-box li { width:100%; border-bottom:1px solid #F2F2F2;}
	.footer-widgets-box { width:100% !important; margin-right:0% !important;}
	#tabbed-widget ul.tabs li a { padding: 5px 7px 1px; }
	.flickr-widget .flickr_badge_image {margin: 4px;}
	header{min-height:115px;}
	.logo img{max-height:70px;margin:0 !important; margin-top:0;}
	.footer-bottom{text-align:center;padding:0 5px;height:auto;overflow:hidden;}
	.footer-bottom div{ float:none !important; clear:both; margin:5px auto;}
	.widget-counter li {width: 91px;}
	.widget.news-pic .post-thumbnail{margin:3px 2px;}
	.sitemap-col { float:none !important; width:auto !important;}
	#related_posts .related-item{margin:0 auto 10px !important;float:none;}
	.share-post {height: 50px; padding-left:5px;}
	.share-post li, .mini-share-post li {height: 31px;width: 105px ;}
	.widget-feedburner-counter, #login-form{padding-right:5px; padding-left:5px;}
	.content iframe {	max-height: 170px; }
	.jp-progress{ width:175px !important; }		
	.google-box iframe{ width:250px !important; float:left;}
	#login-form #log, #login-form #pwd, .widget-feedburner .feedburner-email{width:230px;}
	.review-top {float: none !important; width: auto !important; margin-right: 0 !important;}
	.widget-counter.col2 li, .widget-counter.col4 li{width: 137px;}
	
	.ads120-90 .ad-cell,.ads120-60 .ad-cell,.ads120-600 .ad-cell,.ads120-240 .ad-cell, .ads125 .ad-cell{display: inline-block; float:none; margin-right: 4px;}
	.widget-container .ads120-90, .widget-container .ads120-60, .widget-container .ads120-600, .widget-container .ads120-240, .widget-container .ads125{ margin:0 -7px 0 0;}
	.ads120-90, .ads120-60, .ads120-600, .ads120-240, .ads125{text-align:center;padding-left:5px;}

}
