﻿#main-nav,
.cat-box-content,
#sidebar .widget-container,
.post-listing {
	border-bottom-color: #81bd00;
}

.search-block .search-button,
#topcontrol,
#main-nav ul li.current-menu-item a,
#main-nav ul li.current-menu-item a:hover,
#main-nav ul li.current-menu-parent a,
#main-nav ul li.current-menu-parent a:hover,
#main-nav ul li.current-page-ancestor a,
#main-nav ul li.current-page-ancestor a:hover,
.pagination span.current,
.share-post span.share-text,
.flex-control-paging li a.flex-active,
.ei-slider-thumbs li.ei-slider-element,
#main-nav ul li.current-menu-item ul,
#main-nav ul li.current-menu-parent ul, #main-nav ul li.current-page-ancestor ul ,
.review-percentage .review-item span span,.review-final-score  {
	/* background-color:#81bd00 !important;	 */
}

#main-nav ul li.current-menu-item ul li, #main-nav ul li.current-menu-item ul li:first-child,
#main-nav ul li.current-menu-parent ul li, #main-nav ul li.current-menu-parent ul li:first-child,
#main-nav ul li.current-page-ancestor ul li, #main-nav ul li.current-page-ancestor ul li:first-child {
	border-bottom: 1px solid #8fce08;
	border-top: 1px solid #78af01;
}

#topcontrol:hover {
	background-color:#a9e528 !important;	
}

footer, .top-nav, .top-nav ul li.current-menu-item:after  {
	border-top-color: #81bd00;			
}

.search-block::after {
	border-right-color:#81bd00;
}